.room-options
  ~.stroke-slider
    margin: 0 auto
    margin-top: 50px
  .container
    max-width: 1192px
  &__wrapper
    @include responsive("padding", 65, 5, 0);
  &__title
    font-size: 20px
    font-weight: 900
    margin-bottom: 40px
  &__block
    display: flex
    flex-wrap: wrap
    margin-bottom: 60px
    &-list
      flex-basis: 50%
      padding: 0 10px
      @media ( max-width: 767px )
        flex-basis: 100%
        padding: 0
    &-item
      display: flex
      font-size: 16px
      line-height: 1.8
      &::before
        content: '\2713';
        display: block
        color: #62b3d9
        margin-right: 10px