.header{
   position: fixed;
   left: 0;
   top: 0;
   z-index: 6;
   width: 100%;
   background-color: $colorWhite;
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.header .container--1862{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.logo{
   display: flex;
   align-items: center;
}
.logo__desktop{
   width: 90px;
   height: 90px;
}
.logo__mobile{
   display: none;
}
.logo__title{
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 600;
}
.logo>*:last-child{
   margin-left: 12px;
}
.header__services{
   display: flex;
   align-items: center;
}
.header__services>*:last-child{
   margin-left: 15px;
}
.burger-menu,
.burger-menu--open,
.burger-menu--open2{
   width: 30px;
   height: 20px;
   background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 30 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='2' stroke-linecap='round' d='M1 1h27.989M1 6.998h27.989M1 12.996h27.989'/%3E%3C/svg%3E");
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.3s ease 0s;
}
.burger-menu--open {
   background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 329.269 329' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M194.8 164.77L323.013 36.555c8.343-8.34 8.343-21.825 0-30.164-8.34-8.34-21.825-8.34-30.164 0L164.633 134.605 36.422 6.391c-8.344-8.34-21.824-8.34-30.164 0-8.344 8.34-8.344 21.824 0 30.164l128.21 128.215L6.259 292.984c-8.344 8.34-8.344 21.825 0 30.164a21.266 21.266 0 0015.082 6.25c5.46 0 10.922-2.09 15.082-6.25l128.21-128.214 128.216 128.214a21.273 21.273 0 0015.082 6.25c5.46 0 10.922-2.09 15.082-6.25 8.343-8.34 8.343-21.824 0-30.164zm0 0'/%3E%3C/svg%3E");
}
.burger-menu--open2 {
   transform: rotate(90deg);
   background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.51 6.255L6.255 10.51 2 6.255' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.header__services-title{
   font-size: 25px;
   font-weight: 900;
}
.header__menu-list{
   display: flex;
}
.header__menu-link{
   display: block;
   padding: 40px 14px;
   font-weight: 700;
}
.header__menu-link:hover{
   background-color: #f3f3f3;
   color: $colorBlue;
}
.header__menu{
}
.header__menu-item{
   position: relative;
}
.header__menu-item--services{
   display: none;
}
.header__menu-list>.header__menu-item:last-child>.pattern{
   display: none;
}
.pattern{
   position: absolute;
   top: 50%;
   right: -4px;
   transform: translateY(-30%);
   z-index: 1;
   fill: none;
   stroke: #d3d3d3;
   width: 9px;
   height: 9px;
}
.header__contacts{
   display: flex;
}
.header__contacts > *:not(:last-child),
.header__contacts-link > *:not(:last-child){
   margin-right: 12px;
}
.header__contacts-link{
   display: flex;
   align-items: center;
}
.header__contacts-title{
   
}
.header__contacts-link--btn{
   border: 1px solid #e1e1e1;
   border-radius: 50%;
   padding: 8px;
}
.header__socials{
   display: flex;
   align-items: center;
}
.header__socials > *{
   padding: 25px 10px;
}
.header__contacts-link:hover>*,
.header__social-item:hover>*,
.main-menu__btn:hover>*{
   stroke: #0d6690;
   color: #0d6690;
}
svg{
   stroke: $colorBlack;
   transition: all 0.3s ease 0s;
}
@media (max-width: 1710px){
   .header .container{
      justify-content: start;
   }
   .logo{
      flex-grow: 1;
      justify-content: center;
      order: 2;
      height: 75px;
   }
   .logo>*:last-child{
      margin-left: 0;
   }
   .logo img{
      height: 58px;
   }
   .header__services{
   }
   .header__menu{
      order: 5;
      width: 100%;
   }
   .header__menu-list{
      justify-content: center;
   }
   .header__menu-link{
      padding: 12px 14px;
   }
   .header__contacts{
      order: 3;
      margin-right: 20px;
   }
   .header__socials{
      order: 4;
   }
}
@media (max-width: 1024px){
   .logo__mobile{
      display: block;
   }
   .logo__desktop,
   .logo__title{
      display: none;
   }
}
@media (max-width: 991px){
   .header__services-title{
      display: none;
   }
   .header__services{
      flex-basis: 10%;
   }
   .header__menu{
      position: fixed;
      top: 75px;
      left: -100%;
      background-color: $colorWhite;
      width: 100vw;
      transition: left 0.5s ease 0s;
   }
   .header__menu.open{
      left: 0;
   }
   .header__menu-list{
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
   }
   .header__menu-list>.header__menu-item:last-child>.pattern{
      display: block;
   }
   .header__menu-item{
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f1f1f1;
      width: 100%;
   }
   .header__menu-item--services{
      display: flex;
   }
   .header__menu-item--services>.arrow{
      order: 3;
      justify-self: flex-end;
      transform: rotate(-90deg);
   }
   .header__menu-link{
      flex-grow: 1;
      order: 2;
      font-size: 31px;
      font-weight: 900;
      margin-left: 32px;
      padding: 25px 0;
   }
   .pattern{
      position: unset;
      margin-top: 9px;
      stroke: $colorBlack;
      width: 14px;
      height: 14px;
   }
}
@media (max-width: 768px){
   .header__menu-link{
      font-size: 25px;
      font-weight: 400;
   }
}
@media (max-width: 767px){
   .header__contacts{
      margin: 0 10px;
   }
   .header__contacts-link{
      padding: 25px 10px;
   }
   .header__contacts-title,
   .header__contacts-link--btn{
      display: none;
   }
   .header__contacts > *:not(:last-child),
   .header__contacts-link > *:not(:last-child){
      margin-right: 0;
   }
}
@media (max-width: 415px){
   .header__menu-link{
      font-size: 20px;
   }
   .pattern{
      margin-top: 5px;
      width: 9px;
      height: 9px;
   }
}