.header{
   position: fixed;
   left: 0;
   top: 0;
   z-index: 6;
   width: 100%;
   background-color: var(--body-bcolor);
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.header .container--1862{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.logo__link{
   display: flex;
   align-items: center;
}
.logo__link > .logo-desktop{
   height: 90px;
}
.logo__link > .logo-mobile{
   display: none;
}
.logo__title{
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 600;
}
.logo__link>*:last-child{
   margin-left: 12px;
}
.burger-menu{
   display: flex;
   align-items: center;
}
.burger-menu>*:last-child{
   margin-left: 15px;
}
.burger{
   display: flex;
   flex-direction: column;
   align-items: self-end;
   width: 30px;
   height: 15px;
}
.bar{
   display: block;
   position: relative;
   background-color: var(--body-color);
   transition: all .3s ease 0s;
   height: 1px;
}
.bar:nth-child(1){
   top: 0;
   width: 100%;
}
.bar:nth-child(2){
   top: 50%;
   width: 75%;
}
.bar:nth-child(3){
   top: 100%;
   width: 50%;
}
.burger-menu:hover>.burger>.bar{
   width: 100%;
}
.burger-menu--open>.burger>.bar{
   top: 7px;
}
.burger-menu--open>.burger>.bar:nth-child(1){
   opacity: 0;
}
.burger-menu--open>.burger>.bar:nth-child(2){
   width: 100%;
   transform: translateY(-50%) rotate(45deg);
}
.burger-menu--open>.burger>.bar:nth-child(3){
   width: 100%;
   transform: translateY(-50%) rotate(-45deg);
}
.burger-menu__title{
   font-size: 25px;
   font-weight: 900;
}
.header__menu-list{
   display: flex;
}
.header__menu-link{
   display: block;
   padding: 40px 14px;
   font-weight: 700;
}
.header__menu-link:hover{
   background-color: var(--body-hbcolor);
   color: var(--body-hcolor);
}
.header__menu{
}
.header__menu-item{
   position: relative;
}
.header__menu-item--services{
   display: none;
}
.header__menu-list>.header__menu-item:last-child>.pattern{
   display: none;
}
.pattern{
   position: absolute;
   top: 46%;
   right: -4px;
   z-index: 1;
   fill: none;
   stroke: #d3d3d3;
   width: 9px;
   height: 9px;
}
.header__contacts{
   display: flex;
}
.header__contacts > *:not(:last-child),
.header__contacts-link > *:not(:last-child){
   margin-right: 12px;
}
.header__contacts-link{
   display: flex;
   align-items: center;
}
.header__contacts-title{
   
}
.header__contacts-link--btn{
   border: 1px solid var(--body-hbcolor);
   border-radius: 50%;
   padding: 8px;
}
.header__socials{
   display: flex;
   align-items: center;
}
.header__socials > *{
   padding: 25px 13px;
}
.header__contacts-link:hover>*,
.header__social-item:hover>*,
.main-menu__btn:hover>*{
   stroke: #0d6690;
   color: #0d6690;
}
@media (max-width: 1710px){
   .header .container{
      justify-content: start;
   }
   .logo{
      display: flex;
      flex-grow: 1;
      justify-content: center;
      order: 2;
   }
   .logo__link{
      width: fit-content;
      justify-content: center;
      height: 75px;
   }
   .logo__link>*:last-child{
      margin-left: 0;
   }
   .logo__link>.logo-desktop{
      height: 58px;
   }
   .burger-menu{
      order: 1;
   }
   .burger-menu__title{
      margin-right: 20px;
   }
   .header__menu{
      order: 5;
      width: 100%;
   }
   .header__menu-list{
      justify-content: center;
   }
   .header__menu-link{
      padding: 12px 14px;
   }
   .header__contacts{
      order: 3;
      margin-right: 20px;
   }
   .header__socials{
      order: 4;
   }
}
@media (max-width: 1024px){
   .logo__link > .logo-mobile{
      display: block;
   }
   .logo__link > .logo-desktop,
   .logo__title{
      display: none;
   }
}
@media (max-width: 991px){
   .burger-menu__title{
      display: none;
   }
   .burger-menu--open2>.burger{
   }
   .burger-menu--open2>.burger>.bar{
      top: 12px;
      margin-right: 4px;
   }
   .burger-menu--open2>.burger>.bar:nth-child(1){
      opacity: 0;
   }
   .burger-menu--open2>.burger>.bar:nth-child(2){
      width: 50%;
      transform: translateY(-50%) rotate(45deg);
   }
   .burger-menu--open2>.burger>.bar:nth-child(3){
      width: 50%;
      transform: translate(0, -12px) rotate(135deg);
   }
   .header__menu{
      position: fixed;
      top: 75px;
      left: -100%;
      overflow: auto;
      background-color: var(--body-bcolor);
      width: 100vw;
      height: 90%;
      transition: left 0.5s ease 0s;
   }
   .header__menu.open{
      left: 0;
   }
   .header__menu-list{
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
   }
   .header__menu-list>.header__menu-item:last-child>.pattern{
      display: block;
   }
   .header__menu-item{
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f1f1f1;
      width: 100%;
   }
   .header__menu-item--services{
      display: flex;
   }
   .header__menu-item--services>.arrow{
      order: 3;
      justify-self: flex-end;
      transform: rotate(-90deg);
   }
   .header__menu-link{
      flex-grow: 1;
      order: 2;
      font-size: 31px;
      font-weight: 900;
      margin-left: 32px;
      padding: 25px 0;
   }
   .pattern{
      position: unset;
      stroke: var(--body-color);
      width: 14px;
      height: 14px;
   }
}
@media (max-width: 768px){
   .header__menu-link{
      font-size: 25px;
      font-weight: 400;
   }
}
@media (max-width: 767px){
   .header__contacts{
      margin: 0 10px;
   }
   .header__contacts-link{
      padding: 25px 10px;
   }
   .header__contacts-title,
   .header__contacts-link--btn{
      display: none;
   }
   .header__contacts > *:not(:last-child),
   .header__contacts-link > *:not(:last-child){
      margin-right: 0;
   }
}
@media (max-width: 415px){
   .header__menu-link{
      font-size: 20px;
   }
   .pattern{
      width: 9px;
      height: 9px;
   }
}