.main-menu{
   overflow: auto;
   position: fixed;
   top: 95px;
   left: -100%;
   z-index: 6;
   width: 610px;
   height: 90%;
   background-color: var(--body-bcolor);
   padding: 20px 0 0 130px;
   transition: left 0.3s ease 0s;
}
.main-menu.open,
.header.open>.container--1862>.main-menu,
.header.open>.container--1862>.header__menu{
   left: 0;
}
.main-menu__complex{
   position: relative;
   border: 2px solid #ddd;
   padding: 20px 50px;
   margin-right: 100px;
   line-height: 1.8;
}
.main-menu__item--logo{
   position: absolute;
   top: 50%;
   right: 78%;
   padding: 10px;
   background-color: var(--body-bcolor);
   transform: translateY(-50%) rotate(-90deg);
}
.main-menu__subtitle,
.main-menu__title{
   text-align: right;
   font-weight: 900;
   color: #c6c6c6;
}
.main-menu__subtitle{
   font-size: 24px;
   line-height: 26px;
}
.main-menu__title{
   font-size: 44px;
   line-height: 46px;
}
.main-menu__item--price{
   position: absolute;
   bottom: 205px;
   right: -32px;
   padding: 8px;
   background-color: #c6c6c6;
   color: var(--body-bcolor);
}
.main-menu__item{
}
.main-menu__link{
   display: block;
   font-size: 20px;
   font-weight: 900;
   padding-right: 15px;
}
.main-menu__list{
   margin: 10px 0 0 50px;
   line-height: 1.8;
}
.main-menu__btn{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0 20px 50px;
   max-width: 230px;
   padding: 13px;
   border: 1px solid #c6c6c6;
}
.main-menu__btn:hover{
   border: 1px solid #0d6690;
}
.main-menu__btn>*:not(:last-child){
   margin-right: 30px;
}
.main-menu::-webkit-scrollbar,
.main-rooms::-webkit-scrollbar,
.main-cafe::-webkit-scrollbar{
   display: none;
}
.main-menu__item--rooms:hover .main-rooms,
.main-menu__item--cafe:hover .main-cafe{
   opacity: 1;
   visibility: visible;
}
.main-rooms{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
   gap: 10px 20px;
   left: 610px;
   opacity: 0;
   visibility: hidden;
   width: 65%;
   padding: 20px 40px 20px 0;
   transition: opacity .5s .15s,visibility .5s .15s;
}
.main-rooms__item{
   transition: all 0.3s ease 0s;
}
.main-rooms__link{
}
.main-rooms__img{
   width: 100%;
   height: 166px;
}
.main-rooms__content{
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}
.main-rooms__title{
   font-size: 14px;
   font-weight: 600;
   width: 45%;
}
.main-rooms__price{
   background-color: #1b98d3;
   font-size: 12px;
   font-weight: 600;
   text-align: center;
   color: var(--body-bcolor);
   padding: 5px 10px;
   height: 31px;
}
.main-cafe{
   grid-template-rows: 210px;
}
.main-cafe__title{
   margin-top: 10px;
}
@media (max-width: 1710px){
   .main-menu{
      top: 114px;
   }
   .main-rooms{
      width: 52%;
   }
}
@media (max-width: 1280px){
   .main-rooms{
      width: 34%;
   }
}
@media (max-width: 991px){
   .main-menu{
      top: 75px;
      width: 100vw;
      padding: 20px 60px;
      margin: 0 auto;
   }
   .main-rooms{
      display: none;
   }
   .main-menu__complex{
      padding: 40px 0;
      margin: 0;
   }
   .main-menu__item{
      margin-left: 14%;
   }
   .main-menu__item--logo{
      top: 35%;
      right: 85%;
   }
   .main-menu__subtitle{
      font-size: 33px;
   }
   .main-menu__title{
      font-size: 55px;
   }
   .main-menu__item--price{
      bottom: 95%;
      right: 78%;
   }
   .main-menu__link{
      font-size: 31px;
   }
   .main-menu__list{
      margin: 0;
   }
}
@media (max-width: 800px){
   .main-menu__complex{
      padding: 30px 0;
   }
   .main-menu__item--logo{
      top: 40%;
   }
   .main-menu__item--price{
      bottom: 93%;
      right: 70%;
   }
   .main-menu__subtitle{
      font-size: 25px;
   }
   .main-menu__title{
      font-size: 45px;
   }
   .main-menu__link{
      font-size: 23px;
   }
}
@media (max-width: 650px){
   .main-menu{
      width: 100%;
      padding: 30px 40px;
   }
   .main-menu__item--logo{
      right: 80%;
   }
   .main-menu__subtitle{
      font-size: 19px;
   }
   .main-menu__title{
      font-size: 35px;
   }
   .main-menu__item--price{
      bottom: 90%;
      right: 65%;
   }
   .main-menu__link{
      font-size: 18px;
   }
}
@media (max-width: 430px){
   .main-menu__item--logo{
      right: 75%;
   }
}
@media (max-width: 320px){
   .main-menu{
      padding: 20px 10px;
   }
}