$f20: 20px;
$f25: 25px;
$f50: calc(30px + 20 * ((100vw - 320px) / (1920 - 320)));

$m50: 50px;
$m100: 100px;
// ГЛАВНЫЙ МИНУС SCSS ПЕРЕМЕНННЫХ - эти переменные не адаптивны!!! Лучше перейти на CSS переменнные.
@media (max-width: 767px){
   $m100: 50px;
}