footer.footer.wrapper
  .container--1862
    ul.footer__list-copy.flex
      li.footer__item-copy
        | ©
      li.footer__item-copy
        | 2021
      li.footer__item-copy
        | «Баден-Баден»
    nav.footer__navbar
      ul.footer__list-nav.flex
        li.footer__item-nav
          a.footer__link-nav(href='#')
            | Все услуги
        li.footer__item-nav
          a.footer__link-nav(href='#')
            | Акции
        li.footer__item-nav
          a.footer__link-nav(href='#')
            | Мероприятия
        li.footer__item-nav
          a.footer__link-nav(href='#')
            | Свадьбы и банкеты
        li.footer__item-nav
          a.footer__link-nav(href='#')
            | Фото и видео
        li.footer__item-nav
          a.footer__link-nav(href='#')
            | Продажа апартаментов
        li.footer__item-nav
          a.footer__link-nav(href='#')
            | Контакты
        li.footer__item-nav
          a.footer__link-nav(href='#')
            | Условия оплаты
    ul.footer__list-dev.flex
      li.footer__item-dev
        | Сайт создан:
      li.footer__item-dev
        a.footer__link--by(href='https://github.com/TiroZit') by TiroZit
