<html lang="@@lang">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="@@description">
	<meta name="keywords" content="@@keywords">
	<meta property="og:title" content="@@title">
	<meta property="og:site_name" content="@@site-name">
	<meta property="og:url" content="@@url">
	<meta property="og:description" content="@@description">
	<meta property="og:image" content="@@image-logo">
	<meta name="color-scheme" content="light dark">
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#c7cbcc">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#273a43">
	<link rel="preload" href="@@font" as="font" type="font/woff2" crossorigin>
	<link rel="shortcut icon" href="@@favicon.webp" type="image/webp">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/style.min.css">
	<title>@@title</title>
</head>