<section class="welcome" style="background: url('img/welcome/standart.webp') 50% / cover no-repeat;">
    <div class="welcome__wrapper">
      <nav class="crumbs">
        <ul class="crumbs__list">
          <li class="crumbs__item">
            <a href="index.html" class="crumbs__link">
              Главная
            </a>
            @@include('_sprite.html',{ "class":"arrow",
            "width":"width: 10px;", "height":"height: 10px;", "fill":"fill: #e8e6e3;", "stroke":"stroke: #fff",
            "id":"arrow", })
          </li>
          <li class="crumbs__item">
            <a href="rooms.html" class="crumbs__link">
              Номера
            </a>
            @@include('_sprite.html',{ "class":"arrow",
            "width":"width: 10px;", "height":"height: 10px;", "fill":"fill: #e8e6e3;", "stroke":"stroke: #fff",
            "id":"arrow", })
          </li>
          <li class="crumbs__item">
            <a href="rooms.html" class="crumbs__link">
              Стандарт
            </a>
          </li>
        </ul>
      </nav>
      <h2 class="welcome__title">
        Стандарт
      </h2>
      <p class="welcome__text">
        Однокомнатный номер с 1/2/3/4 одно­спальными кроватями. На 1м этаже: кулер и микроволновка.
        Данное изображение может не соответствовать реальности.
      </p>
      @@include('_sprite.html',{ "class":"wive",
            "width":"width: 281px;", "height":"height: 15px;", "fill":"fill: none;", "stroke":"stroke: #e8e6e3;",
            "id":"wive", })
    </div>
</section>