section.apartments.wrapper
  .container
    .apartments__list
      .apartments__item
        .apartments__gallery
          a(data-fancybox='gallery-standart' href='img/gallery-fancybox/standart/1.webp')
            img.lazy(style='width: 280px; height: 210px;' data-src='img/main-menu/room-1.webp' alt='Стандарт')
          div(style='display: none;')
            a(data-fancybox='gallery-standart' href='img/gallery-fancybox/standart/2.webp')
            a(data-fancybox='gallery-standart' href='img/gallery-fancybox/standart/3.webp')
        .apartments__info
          a.apartments__info-title.title-25(href='standart.html')
            | Стандарт
          p.apartments__info-text
            | Однокомнатный номер с 1/2/3/4 одно­спальными кроватями. На 1м этаже: кулер и микроволновка.
            | Данное изображение может не соответствовать реальности.
          .apartments__info-price.title-25
            | От 3 500 рублей
          a.apartments__info-btn.link-btn.link-btn-blue.link-btn-details(href='standart.html')
            | Подробнее
        .apartments__item-table
          table.apartments__table
            tbody.apartments__table-body
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Вместимость:
                td.apartments__table-column
                  | До 4 гостей
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Площадь:
                td.apartments__table-column
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Вид из окна:
                td.apartments__table-column
                  | на территорию комплекса / на лес
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Корпус:
                td.apartments__table-column
                  | № 3 ** и 1
          a.apartments__item-discount(href='stroke.html')
            | Информация о скидках в разделе АКЦИИ!
      .apartments__item
        .apartments__gallery
          a(data-fancybox='gallery-standart2' href='img/gallery-fancybox/standart/1.webp')
            img.lazy(style='width: 280px; height: 210px;' data-src='img/main-menu/room-1.webp' alt='Стандарт')
          div(style='display: none;')
            a(data-fancybox='gallery-standart2' href='img/gallery-fancybox/standart/2.webp')
            a(data-fancybox='gallery-standart2' href='img/gallery-fancybox/standart/3.webp')
        .apartments__info
          a.apartments__info-title.title-25(href='#')
            | Стандарт
          p.apartments__info-text
            | Однокомнатный номер с 1/2/3/4 одно­спальными кроватями. На 1м этаже: кулер и микроволновка.
            | Данное изображение может не соответствовать реальности.
          .apartments__info-price.title-25
            | От 3 500 рублей
          a.apartments__info-btn.link-btn.link-btn-blue.link-btn-details(href='#')
            | Подробнее
        .apartments__item-table
          table.apartments__table
            tbody.apartments__table-body
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Вместимость:
                td.apartments__table-column
                  | До 4 гостей
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Площадь:
                td.apartments__table-column
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Вид из окна:
                td.apartments__table-column
                  | на территорию комплекса / на лес
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Корпус:
                td.apartments__table-column
                  | № 3 ** и 1
          a.apartments__item-discount(href='stroke.html')
            | Информация о скидках в разделе АКЦИИ!
      .apartments__item
        .apartments__gallery
          a(data-fancybox='gallery-standart3' href='img/gallery-fancybox/standart/1.webp')
            img.lazy(style='width: 280px; height: 210px;' data-src='img/main-menu/room-1.webp' alt='Стандарт')
          div(style='display: none;')
            a(data-fancybox='gallery-standart3' href='img/gallery-fancybox/standart/2.webp')
            a(data-fancybox='gallery-standart3' href='img/gallery-fancybox/standart/3.webp')
        .apartments__info
          a.apartments__info-title.title-25(href='#')
            | Стандарт
          p.apartments__info-text
            | Однокомнатный номер с 1/2/3/4 одно­спальными кроватями. На 1м этаже: кулер и микроволновка.
            | Данное изображение может не соответствовать реальности.
          .apartments__info-price.title-25
            | От 3 500 рублей
          a.apartments__info-btn.link-btn.link-btn-blue.link-btn-details(href='#')
            | Подробнее
        .apartments__item-table
          table.apartments__table
            tbody.apartments__table-body
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Вместимость:
                td.apartments__table-column
                  | До 4 гостей
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Площадь:
                td.apartments__table-column
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Вид из окна:
                td.apartments__table-column
                  | на территорию комплекса / на лес
              tr.apartments__table-row
                td.apartments__table-column.apartments__table-column--color
                  | Корпус:
                td.apartments__table-column
                  | № 3 ** и 1
          a.apartments__item-discount(href='stroke.html')
            | Информация о скидках в разделе АКЦИИ!
