aside.aside-room
  .aside-room__container
    .aside-room__title-block
      .aside-room__title
        | комплекс
      .aside-room__subtitle
        | Апартаментов
    nav.aside-room__nav
      ul.aside-room__list
        li.aside-room__item.aside-room__item--active
          a.aside-room__link(href='#')
            | Стандарт
        li.aside-room__item
          a.aside-room__link(href='#')
            | Стандарт улучшенный
        li.aside-room__item
          a.aside-room__link(href='#')
            | Стандарт улучшенный двухкомнатный
        li.aside-room__item
          a.aside-room__link(href='#')
            | Стандарт семейный
        li.aside-room__item
          a.aside-room__link(href='#')
            | Комфорт однокомнатный
        li.aside-room__item
          a.aside-room__link(href='#')
            | Forest двухместный
