section.event.wrapper
  .container--1300
    h2.event__title Ближайшие мероприятия в Баден-Баден
    .event__content
      article.event__item
        time.event__date-item(datetime='2021-10-18') 18.10.2021
        h3.event__title-item Анимационная программа с 18 по 24 октября!
        p.event__text-item Ежедневные мероприятия для всей семьи!
        a.link-dashed(href='#') Подробнее
      article.event__item
        time.event__date-item(datetime='2021-10-25') 25.10.2021
        h3.event__title-item Осенние школьные каникулы в Баден-Баден!
        p.event__text-item Программа мероприятий с 25 по 31 октября!
        a.link-dashed(href='#') Подробнее
      article.event__item
        time.event__date-item(datetime='2021-11-01') 01.11.2021
        h3.event__title-item Осенние школьные каникулы в Баден-Баден!
        p.event__text-item Программа мероприятий в дни школьных каникул с 1 по 7 ноября!
        a.link-dashed(href='#') Подробнее
    a.link-btn-details.link-btn-blue.link-btn(href='#') Смотреть все
