section.event.wrapper
  .container--1300
    h2.event__title Фотоотчеты мероприятий
    .event__content
      article.event__item
        time.event__date-item(datetime='2018-06-09') 09.06.2018
        h3.event__title-item ДОБРаФест 9-12 июня 2018 г.
        p.event__text-item
          | Главный фестиваль лета - ДОБРа Фест! Добрый фестиваль русской бани, spa & wellnes. 9-12 июня 2018 г.
        a.link-dashed(href='#') Подробнее
      article.event__item
        time.event__date-item(datetime='2018-03-08') 08.03.2018
        h3.event__title-item 8 марта!
        p.event__text-item
          | Сюрпризы, приятные подарки, атмосфера весны и нежности - праздник милых дам проходит сказочно, если вы в "Баден-Баден"!
        a.link-dashed(href='#') Подробнее
      article.event__item
        time.event__date-item(datetime='2018-02-24') 24.02.2018
        h3.event__title-item Проводы зимы!
        p.event__text-item ПКак мы провожали зиму: с хороводами, играми, забавами. Было горячо! Ждём весну!
        a.link-dashed(href='#') Подробнее
    a.link-btn-details.link-btn-blue.link-btn(href='#') Смотреть все
