section.faq.wrapper
  .container--1300
    h2.faq__title Вопрос-ответ
    .faq__content
      .faq__spoiler
        .faq__question
          .faq__question-title.title-20
            | Что входит в стоимость номеров комплекса Баден-Баден?
            +svg('close', '16', '18')
        .faq__answer
          p.faq__answer-text
            | В стоимость номеров включено проживание, безлимитное купание в комплексе термальных бассейнов, пользование охраняемой стоянкой и многое другое.
          a.link-dashed(href='#') Подробнее
      .faq__spoiler
        .faq__question
          .faq__question-title.title-20
            | Как доехать в Баден-Баден из Челябинска?
            +svg('close', '16', '18')
        .faq__answer
          p.faq__answer-text
            | Вы можете добраться на собственном автомобиле, на такси или на автобусе до села Еткуль. Также сейчас действуют автобусные туры по понедельникам и пятницам.
          a.link-dashed(href='#') Подробнее
      .faq__spoiler
        .faq__question
          .faq__question-title.title-20
            | В какое время происходит заезд и выезд из номеров?
            +svg('close', '16', '18')
        .faq__answer
          p.faq__answer-text
            | Заезд - каждый день с 16:00 до 18:00, выезд - с 12:00 до 14:01.
          a.link-dashed(href='#') Подробнее
      .faq__spoiler
        .faq__question
          .faq__question-title.title-20
            | Как забронировать и как оплатить номера?
            +svg('close', '16', '18')
        .faq__answer
          p.faq__answer-text
            | Забронировать номер можно на нашем сайте в разделе «
            a.link-dashed(href='#') Номера
            | », а также по телефону 
            a.link-dashed(href='tel:+73512003333') +7 (351) 200-33-33
            |  и в офисе (Челябинск, ул. Кирова, 86). Также мы всегда на связи в ВК, Viber и WhatsApp.
          a.link-dashed(href='#') Подробнее
      .faq__spoiler
        .faq__question
          .faq__question-title.title-20
            | Какие документы нужны при заселении? Нужен ли залог за номера?
            +svg('close', '16', '18')
        .faq__answer
          p.faq__answer-text
            | При заселении в Баден-Баден вам понадобится паспорт. Залог за каждый номер - 2500 рублей, за апартаменты - 3000, за коттеджи - 5000.
          a.link-dashed(href='#') Подробнее
    a.link-btn-details.link-btn-blue.link-btn(href='#') Смотреть все
