<section class="faq wrapper">
   <div class="container--1300">
      <h2 class="faq__title">Вопрос-ответ</h2>
      <div class="faq__content">
         <div class="faq__spoiler">
            <div class="faq__question">
               <div class="faq__question-title title-20">
                  Что входит в стоимость номеров комплекса Баден-Баден?
               </div>
               @@include('_sprite.html',{ "class":"close",
                  "width":"width: 16px;", "height":"height: 18px;", 
                  "id":"close", })
            </div>
            <div class="faq__answer">
               <p class="faq__answer-text">
                  В стоимость номеров включено проживание, безлимитное купание в комплексе термальных бассейнов, пользование охраняемой стоянкой и многое другое.
               </p>
               <a class="link-dashed" href="#">Подробнее</a>
            </div>
         </div>
         <div class="faq__spoiler">
            <div class="faq__question">
               <div class="faq__question-title title-20">
                  Как доехать в Баден-Баден из Челябинска?
               </div>
               @@include('_sprite.html',{ "class":"close",
                  "width":"width: 16px;", "height":"height: 18px;", 
                  "id":"close", })
            </div>
            <div class="faq__answer">
               <p class="faq__answer-text">
                  Вы можете добраться на собственном автомобиле, на такси или на автобусе до села Еткуль. Также сейчас действуют автобусные туры по понедельникам и пятницам.
               </p>
               <a class="link-dashed" href="#">Подробнее</a>
            </div>
         </div>
         <div class="faq__spoiler">
            <div class="faq__question">
               <div class="faq__question-title title-20">
                  В какое время происходит заезд и выезд из номеров?
               </div>
               @@include('_sprite.html',{ "class":"close",
                  "width":"width: 16px;", "height":"height: 18px;", 
                  "id":"close", })
            </div>
            <div class="faq__answer">
               <p class="faq__answer-text">
                  Заезд - каждый день с 16:00 до 18:00, выезд - с 12:00 до 14:01.
               </p>
               <a class="link-dashed" href="#">Подробнее</a>
            </div>
         </div>
         <div class="faq__spoiler">
            <div class="faq__question">
               <div class="faq__question-title title-20">
                  Как забронировать и как оплатить номера?
               </div>
               @@include('_sprite.html',{ "class":"close",
                  "width":"width: 16px;", "height":"height: 18px;", 
                  "id":"close", })
            </div>
            <div class="faq__answer">
               <p class="faq__answer-text">
                  Забронировать номер можно на нашем сайте в разделе «<a class="link-dashed" href="#">Номера</a>», а также по телефону <a class="link-dashed" href="tel:+73512003333">+7 (351) 200-33-33</a> и в офисе (Челябинск, ул. Кирова, 86). Также мы всегда на связи в ВК, Viber и WhatsApp.
               </p>
               <a class="link-dashed" href="#">Подробнее</a>
            </div>
         </div>
         <div class="faq__spoiler">
            <div class="faq__question">
               <div class="faq__question-title title-20">
                  Какие документы нужны при заселении? Нужен ли залог за номера?
               </div>
               @@include('_sprite.html',{ "class":"close",
                  "width":"width: 16px;", "height":"height: 18px;", 
                  "id":"close", })
            </div>
            <div class="faq__answer">
               <p class="faq__answer-text">
                  При заселении в Баден-Баден вам понадобится паспорт. Залог за каждый номер - 2500 рублей, за апартаменты - 3000, за коттеджи - 5000.
               </p>
               <a class="link-dashed" href="#">Подробнее</a>
            </div>
         </div>   
      </div>
      <a class="link-btn-details link-btn-blue link-btn" href="#">Смотреть все</a>
   </div>
</section>