section.gallery.leisure.wrapper
  .container--1432
    h2.leisure__title Фото и видео комплекса
    nav.tabs
      ul.tabs__list
        li.tabs__item
          a.tabs__link.tabs__link--gallery(href='#tab-1--gallery') Горячий источник
        li.tabs__item
          a.tabs__link.tabs__link--gallery(href='#tab-2--gallery') Номера
        li.tabs__item
          a.tabs__link.tabs__link--gallery(href='#tab-3--gallery') Рестораны и кафе
        li.tabs__item
          a.tabs__link.tabs__link--gallery(href='#tab-4--gallery') Территория
        li.tabs__item
          a.tabs__link.tabs__link--gallery(href='#tab-5--gallery') Детские развлечения
  #tab-1--gallery.gallery__slider.swiper
    .gallery__slider-wrapper.swiper-wrapper
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='https://youtu.be/3qg191Lf8To')
        img.gallery__slider-img.lazy(data-src='img/gallery-slider/thermal-preview/1.webp' alt='video-1')
        img.gallery__img-play.lazy(data-src='img/gallery-slider/video-play.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='https://www.youtube.com/watch?v=NyFiJ4h0Wg8')
        img.gallery__slider-img.lazy(data-src='img/gallery-slider/thermal-preview/2.webp' alt='video-2')
        img.gallery__img-play.lazy(data-src='img/gallery-slider/video-play.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='https://www.youtube.com/watch?v=NWi5YQbJqMQ')
        img.gallery__slider-img.lazy(data-src='img/gallery-slider/thermal-preview/3.webp' alt='video-3')
        img.gallery__img-play.lazy(data-src='img/gallery-slider/video-play.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='img/gallery-fancybox/thermal/1.webp')
        img.gallery__slider-img.lazy(data-src='img/gallery-slider/thermal/1.webp' alt='photo-1')
        img.gallery__img-zoom.lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='img/gallery-fancybox/thermal/2.webp')
        img.gallery__slider-img.lazy(data-src='img/gallery-slider/thermal/2.webp' alt='photo-2')
        img.gallery__img-zoom.lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='https://youtu.be/0wOHCd9SsqI')
        img.gallery__slider-img.swiper-lazy.lazy(data-src='img/gallery-slider/thermal-preview/4.webp' alt='video-4')
        img.gallery__img-play.swiper-lazy.lazy(data-src='img/gallery-slider/video-play.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='img/gallery-fancybox/thermal/3.webp')
        img.gallery__slider-img.swiper-lazy.lazy(data-src='img/gallery-slider/thermal/3.webp' alt='photo-3')
        img.gallery__img-zoom.swiper-lazy.lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='img/gallery-fancybox/thermal/4.webp')
        img.gallery__slider-img.swiper-lazy(data-src='img/gallery-slider/thermal/4.webp' alt='photo-4')
        img.gallery__img-zoom.swiper-lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='img/gallery-fancybox/thermal/5.webp')
        img.gallery__slider-img.swiper-lazy(data-src='img/gallery-slider/thermal/5.webp' alt='photo-5')
        img.gallery__img-zoom.swiper-lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='img/gallery-fancybox/thermal/6.webp')
        img.gallery__slider-img.swiper-lazy(data-src='img/gallery-slider/thermal/6.webp' alt='photo-6')
        img.gallery__img-zoom.swiper-lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='img/gallery-fancybox/thermal/7.webp')
        img.gallery__slider-img.swiper-lazy(data-src='img/gallery-slider/thermal/7.webp' alt='photo-7')
        img.gallery__img-zoom.swiper-lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='img/gallery-fancybox/thermal/8.webp')
        img.gallery__slider-img.swiper-lazy(data-src='img/gallery-slider/thermal/8.webp' alt='photo-8')
        img.gallery__img-zoom.swiper-lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='img/gallery-fancybox/thermal/9.webp')
        img.gallery__slider-img.swiper-lazy(data-src='img/gallery-slider/thermal/9.webp' alt='photo-9')
        img.gallery__img-zoom.swiper-lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery' data-src='img/gallery-fancybox/thermal/10.webp')
        img.gallery__slider-img.swiper-lazy(data-src='img/gallery-slider/thermal/10.webp' alt='photo-10')
        img.gallery__img-zoom.swiper-lazy(data-src='img/gallery-slider/zoom-large.png')
    .gallery__slider-button-prev.swiper-button-prev
    .gallery__slider-button-next.swiper-button-next
  #tab-2--gallery.gallery__slider.swiper
    .gallery__slider-wrapper.swiper-wrapper
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery-2' data-src='img/gallery-fancybox/thermal/3.webp')
        img.gallery__slider-img.swiper-lazy.lazy(data-src='img/gallery-slider/thermal/3.webp' alt='photo-3')
        img.gallery__img-zoom.swiper-lazy.lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery-2' data-src='img/gallery-fancybox/thermal/4.webp')
        img.gallery__slider-img.swiper-lazy.lazy(data-src='img/gallery-slider/thermal/4.webp' alt='photo-4')
        img.gallery__img-zoom.swiper-lazy.lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery-2' data-src='img/gallery-fancybox/thermal/5.webp')
        img.gallery__slider-img.swiper-lazy.lazy(data-src='img/gallery-slider/thermal/5.webp' alt='photo-5')
        img.gallery__img-zoom.swiper-lazy.lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery-2' data-src='img/gallery-fancybox/thermal/6.webp')
        img.gallery__slider-img.swiper-lazy.lazy(data-src='img/gallery-slider/thermal/6.webp' alt='photo-6')
        img.gallery__img-zoom.swiper-lazy.lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery-2' data-src='img/gallery-fancybox/thermal/7.webp')
        img.gallery__slider-img.swiper-lazy.lazy(data-src='img/gallery-slider/thermal/7.webp' alt='photo-7')
        img.gallery__img-zoom.swiper-lazy.lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery-2' data-src='img/gallery-fancybox/thermal/8.webp')
        img.gallery__slider-img.swiper-lazy(data-src='img/gallery-slider/thermal/8.webp' alt='photo-8')
        img.gallery__img-zoom.swiper-lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery-2' data-src='img/gallery-fancybox/thermal/9.webp')
        img.gallery__slider-img.swiper-lazy(data-src='img/gallery-slider/thermal/9.webp' alt='photo-9')
        img.gallery__img-zoom.swiper-lazy(data-src='img/gallery-slider/zoom-large.png')
      a.gallery__slider-slide.swiper-slide(data-fancybox='gallery-2' data-src='img/gallery-fancybox/thermal/10.webp')
        img.gallery__slider-img.swiper-lazy(data-src='img/gallery-slider/thermal/10.webp' alt='photo-10')
        img.gallery__img-zoom.swiper-lazy(data-src='img/gallery-slider/zoom-large.png')
    .gallery__slider-button-prev.swiper-button-prev
    .gallery__slider-button-next.swiper-button-next
