section.leisure.wrapper
  .container--1432
    h2.leisure__title 34 способа провести время в Баден-Баден
    nav.tabs
      ul.tabs__list
        li.tabs__item
          a.tabs__link.tabs__link--leisure(href='#tab-1--leisure') Популярное
        li.tabs__item
          a.tabs__link.tabs__link--leisure(href='#tab-2--leisure') Оздоровительный и расслабляющий отдых
        li.tabs__item
          a.tabs__link.tabs__link--leisure(href='#tab-3--leisure') Проживание
        li.tabs__item
          a.tabs__link.tabs__link--leisure(href='#tab-4--leisure') Семейный отдых
        li.tabs__item
          a.tabs__link.tabs__link--leisure(href='#tab-5--leisure') Активный отдых
        li.tabs__item
          a.tabs__link.tabs__link--leisure(href='#tab-6--leisure') Торжественные мероприятия
        li.tabs__item
          a.tabs__link.tabs__link--leisure(href='#tab-7--leisure') Детям
    #tab-1--leisure.leisure__list
      .leisure__item
        .leisure__slider.swiper
          .leisure__slide-wrapper.swiper-wrapper
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/cafe/1.webp' alt='Кафе Thermal 1')
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/cafe/2.webp' alt='Кафе Thermal 2')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/3.webp' alt='Кафе Thermal 3')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/4.webp' alt='Кафе Thermal 4')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/5.webp' alt='Кафе Thermal 5')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/6.webp' alt='Кафе Thermal 6')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/7.webp' alt='Кафе Thermal 7')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/8.webp' alt='Кафе Thermal 8')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/9.webp' alt='Кафе Thermal 9')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/10.webp' alt='Кафе Thermal 10')
          span.leisure-slider-stick
          .leisure__slider-button-prev.swiper-button-prev
          .leisure__slider-button-next.swiper-button-next
        .leisure__item-content
          .leisure__inner
            a.leisure__inner-title(href='#')
              | Кафе Thermal
            .leisure__inner-price
              | Средний чек от 300 руб.
          p.leisure__item-text
            | Кафе располагается в термальном корпусе и предлагает блюда быстрого приготовления для посетителей spa курорта. Супы, горячие блюда, салатики, десерты и коктейли помогут восстановить силы, отдохнуть и расслабиться после купания. Часы работы: ежедневно с 09:00 до 23:00.
        a.leisure__item-detail.link-btn.link-btn-blue.link-btn-details(href='#') Подробнее
      .leisure__item
        .leisure__slider.swiper
          .leisure__slide-wrapper.swiper-wrapper
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/pool/1.webp' alt='Внутренний бассейн 1')
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/pool/2.webp' alt='Внутренний бассейн 2')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/pool/3.webp' alt='Внутренний бассейн 3')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/pool/4.webp' alt='Внутренний бассейн 4')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/pool/5.webp' alt='Внутренний бассейн 5')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/pool/6.webp' alt='Внутренний бассейн 6')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/pool/7.webp' alt='Внутренний бассейн 7')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/pool/8.webp' alt='Внутренний бассейн 8')
          span.leisure-slider-stick
          .leisure__slider-button-prev.swiper-button-prev
          .leisure__slider-button-next.swiper-button-next
        .leisure__item-content
          .leisure__inner
            a.leisure__inner-title(href='#')
              | Внутренний бассейн
            .leisure__inner-price
              | от 350 руб./час
          p.leisure__item-text
            | Большой бассейн в теплом помещении, под сводом высоких потолков — отличное место для купания всей семьей. Есть детский бассейн с горкой.
        a.leisure__item-detail.link-btn.link-btn-blue.link-btn-details(href='#') Подробнее
      .leisure__item
        .leisure__slider.swiper
          .leisure__slide-wrapper.swiper-wrapper
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/bath/1.webp' alt='Кафе Thermal 10')
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/bath/2.webp' alt='Бани 2')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/bath/3.webp' alt='Бани 3')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/bath/4.webp' alt='Бани 4')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/bath/5.webp' alt='Бани 5')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/bath/6.webp' alt='Бани 6')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/bath/7.webp' alt='Бани 7')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/bath/8.webp' alt='Бани 8')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/bath/9.webp' alt='Бани 9')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/bath/10.webp' alt='Бани 10')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/bath/11.webp' alt='Бани 11')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/bath/12.webp' alt='Бани 12')
          span.leisure-slider-stick
          .leisure__slider-button-prev.swiper-button-prev
          .leisure__slider-button-next.swiper-button-next
        .leisure__item-content
          .leisure__inner
            a.leisure__inner-title(href='#')
              | Бани народов мира
            .leisure__inner-price
              | от 350 руб./час
          p.leisure__item-text
            | Самая популярная и любимая услуга наших гостей! Здесь проходят парения Афгусс!
        a.leisure__item-detail.link-btn.link-btn-blue.link-btn-details(href='#') Подробнее
      .leisure__item
        .leisure__slider.swiper
          .leisure__slide-wrapper.swiper-wrapper
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/barbecue/1.webp' alt='Мангальные зоны 1')
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/barbecue/2.webp' alt='Мангальные зоны 2')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/barbecue/3.webp' alt='Мангальные зоны 3')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/barbecue/4.webp' alt='Мангальные зоны 4')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/barbecue/5.webp' alt='Мангальные зоны 5')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/barbecue/6.webp' alt='Мангальные зоны 6')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/barbecue/7.webp' alt='Мангальные зоны 7')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/barbecue/8.webp' alt='Мангальные зоны 8')
          span.leisure-slider-stick
          .leisure__slider-button-prev.swiper-button-prev
          .leisure__slider-button-next.swiper-button-next
        .leisure__item-content
          .leisure__inner
            a.leisure__inner-title(href='#')
              | Мангальные зоны
            .leisure__inner-price
              | от 300 руб./час
          p.leisure__item-text
            | Мангальные зоны расположены на территории комплекса.
        a.leisure__item-detail.link-btn.link-btn-blue.link-btn-details(href='#') Подробнее
      .leisure__item
        .leisure__slider.swiper
          .leisure__slide-wrapper.swiper-wrapper
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/outdoor-pool/1.webp' alt='Бассейны под открытым небом 1')
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/outdoor-pool/2.webp' alt='Бассейны под открытым небом 2')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/outdoor-pool/3.webp' alt='Бассейны под открытым небом 3')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/outdoor-pool/4.webp' alt='Бассейны под открытым небом 4')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/outdoor-pool/5.webp' alt='Бассейны под открытым небом 5')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/outdoor-pool/6.webp' alt='Бассейны под открытым небом 6')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/outdoor-pool/7.webp' alt='Бассейны под открытым небом 7')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/outdoor-pool/8.webp' alt='Бассейны под открытым небом 8')
          span.leisure-slider-stick
          .leisure__slider-button-prev.swiper-button-prev
          .leisure__slider-button-next.swiper-button-next
        .leisure__item-content
          .leisure__inner
            a.leisure__inner-title(href='#')
              | Бассейны под открытым небом
            .leisure__inner-price
              | от 350 руб./час
          p.leisure__item-text
            | Два огромных бассейна под открытым небом! У всех гостей терма курорта «Баден-Баден» есть уникальная возможность купаться на открытом воздухе круглый год, несмотря на зимние морозы и прохладное уральское лето!
        a.leisure__item-detail.link-btn.link-btn-blue.link-btn-details(href='#') Подробнее
      .leisure__item
        .leisure__slider.swiper
          .leisure__slide-wrapper.swiper-wrapper
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/spa/1.webp' alt='SPA 1')
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/spa/2.webp' alt='SPA 2')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/spa/3.webp' alt='SPA 3')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/spa/4.webp' alt='SPA 4')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/spa/5.webp' alt='SPA 5')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/spa/6.webp' alt='SPA 6')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/spa/7.webp' alt='SPA 7')
          span.leisure-slider-stick
          .leisure__slider-button-prev.swiper-button-prev
          .leisure__slider-button-next.swiper-button-next
        .leisure__item-content
          .leisure__inner
            a.leisure__inner-title(href='#')
              | SPA
            .leisure__inner-price
              | от 350 руб./час
          p.leisure__item-text
            | Профессионально снять усталость, расслабить мышцы и избавить от болезненных ощущений помогут SPA-процедуры.
        a.leisure__item-detail.link-btn.link-btn-blue.link-btn-details(href='#') Подробнее
    #tab-2--leisure.leisure__list
      .leisure__item
        .leisure__slider.swiper
          .leisure__slide-wrapper.swiper-wrapper
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/cafe/1.webp' alt='Кафе Thermal 1')
            .leisure__slide.swiper-slide
              img.lazy(data-src='img/leisure-slider/cafe/2.webp' alt='Кафе Thermal 2')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/3.webp' alt='Кафе Thermal 3')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/4.webp' alt='Кафе Thermal 4')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/5.webp' alt='Кафе Thermal 5')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/6.webp' alt='Кафе Thermal 6')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/7.webp' alt='Кафе Thermal 7')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/8.webp' alt='Кафе Thermal 8')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/9.webp' alt='Кафе Thermal 9')
            .leisure__slide.swiper-slide
              img.swiper-lazy(data-src='img/leisure-slider/cafe/10.webp' alt='Кафе Thermal 10')
          span.leisure-slider-stick
          .leisure__slider-button-prev.swiper-button-prev
          .leisure__slider-button-next.swiper-button-next
        .leisure__item-content
          .leisure__inner
            a.leisure__inner-title(href='#')
              | Кафе Thermal
            .leisure__inner-price
              | Средний чек от 300 руб.
          p.leisure__item-text
            | Кафе располагается в термальном корпусе и предлагает блюда быстрого приготовления для посетителей spa курорта. Супы, горячие блюда, салатики, десерты и коктейли помогут восстановить силы, отдохнуть и расслабиться после купания. Часы работы: ежедневно с 09:00 до 23:00.
        a.leisure__item-detail.link-btn.link-btn-blue.link-btn-details(href='#') Подробнее
