section.room-slider.swiper.container
  .room-slider__wrapper.swiper-wrapper
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/1.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-1.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/2.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-2.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/3.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-3.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/1.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-4.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/1.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-5.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/2.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-6.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/3.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-7.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/1.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-8.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/1.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-1.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/2.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-2.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/3.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-3.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/1.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-4.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/1.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-5.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/2.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-6.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/3.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-7.webp' alt='video-1')
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='img/gallery-fancybox/standart/1.webp')
      img.room-slider__slide-img.lazy(data-src='img/main-menu/room-8.webp' alt='video-1')
  .room-slider__button-prev.gallery__slider-button-prev.swiper-button-prev
  .room-slider__button-next.gallery__slider-button-next.swiper-button-next
