section.room-options.wrapper
  .container 
    .room-options__wrapper 
      .room-options__title В номере имеется:
      .room-options__block 
        ul.room-options__block-list 
          li.room-options__block-item.
            Раздельные односпальные кровати.
          li.room-options__block-item.
            Телевизор.
          li.room-options__block-item.
            Холодильник.
          li.room-options__block-item.
            Набор гигиенических принадлежностей в диспенсерах.
        ul.room-options__block-list 
          li.room-options__block-item.
            Совмещенный туалет и душ.
          li.room-options__block-item.
            Полотенца.
          li.room-options__block-item.
            Чайник и чайные пары.
          li.room-options__block-item.
            Фен.
      .room-options__title В стоимость включено:
      .room-options__block 
        ul.room-options__block-list 
          li.room-options__block-item.
            Проживание (заезд с 16:00 до 18:00; выезд до 13:00).
          li.room-options__block-item.
            Комплексный завтрак в кафе Thermal (только до 31.05.2021 г.).
          li.room-options__block-item.
            Безлимитное купание в комплексе Thermal - в подарок.
          li.room-options__block-item.
            Безлимитное посещение комплекса Бани народов мира - в подарок с 22.12.20 г
        ul.room-options__block-list 
          li.room-options__block-item.
            Пользование детской комнатой и детскими площадками.
          li.room-options__block-item.
            Комплексный завтрак в кафе Thermal (только до 31.05.2021 г.).
          li.room-options__block-item.
            Анимация для всей семьи.
          li.room-options__block-item.
            Пользование пляжем (без предоставления инвентаря и доп. услуг).
      .room-options__title Дополнительные места:
      .room-options__block 
        ul.room-options__block-list 
          li.room-options__block-item.
            В данную категорию номеров не предоставляются.
