section.room-slider.swiper
  .room-slider__wrapper.swiper-wrapper
    a.room-slider__slide.swiper-slide(data-fancybox='standart-gallery' data-src='https://youtu.be/3qg191Lf8To')
      img.room-slider__slide-img(data-src='img/gallery-slider/thermal-preview/1.webp' alt='')
  .room-slider__button-prev.gallery__slider-button-prev.swiper-button-prev
  .room-slider__button-next.gallery__slider-button-next.swiper-button-next
