section.room-slider.main-slider.swiper.wrapper
  .room-slider__wrapper.swiper-wrapper
    a.room-slider__slide.swiper-slide(data-fancybox='room-standart' href='img/gallery-fancybox/standart/1.webp')
      img.room-slider__slide-img.swiper-lazy(data-src='img/main-menu/room-1.webp' alt='Тур Восстановления')
  .main-slider__pagination.swiper-pagination
  .room-slider__button-prev.gallery__slider-button-prev.swiper-button-prev
  .room-slider__button-next.gallery__slider-button-next.swiper-button-next
