section.stroke-slider.main-slider.swiper
  .stroke-slider__wrapper.swiper-wrapper
    .stroke-slider__slide.swiper-slide
      img.stroke-slider__slide-img.swiper-lazy(data-src='img/stroke/1.webp' alt='Тур Восстановления')
      .stroke-slider__slide-wrapper
        .stroke-slider__slide-title(style='color: dodgerblue;')
          | Тур "Восстановление"
        a.stroke-slider__slide-btn.link-btn.link-btn-blue.link-btn-details(href='#')
          | Подробнее
    .stroke-slider__slide.swiper-slide
      img.stroke-slider__slide-img.swiper-lazy(data-src='img/stroke/2.webp' alt='Тур Восстановления')
      .stroke-slider__slide-wrapper
        .stroke-slider__slide-title(style='color: dodgerblue;')
          | Экспресс-поздравления по любому поводу!
        a.stroke-slider__slide-btn.link-btn.link-btn-blue.link-btn-details(href='#')
          | Подробнее
    .stroke-slider__slide.swiper-slide
      img.stroke-slider__slide-img.swiper-lazy(data-src='img/stroke/3.webp' alt='Тур Восстановления')
      .stroke-slider__slide-wrapper
        .stroke-slider__slide-title(style='color: #49C0ED;')
          | Романтический отдых для двоих!
        p.stroke-slider__slide-text(style='color: #49C0ED;')
          | Комплексные программы SPA Baden для романтического отдыха
        a.stroke-slider__slide-btn.link-btn.link-btn-blue.link-btn-details(href='#')
          | Подробнее
    .stroke-slider__slide.swiper-slide
      img.stroke-slider__slide-img.swiper-lazy(data-src='img/stroke/4.webp' alt='Тур Восстановления')
      .stroke-slider__slide-wrapper
        .stroke-slider__slide-title(style='color: #fff;')
          | Абонемент семья!
        p.stroke-slider__slide-text(style='color: #fff;')
          | При покупке 2-х взрослых билетов в комплекс Thermal на 3 часа и более, ребенок до 14 лет купается бесплатно.
        a.stroke-slider__slide-btn.link-btn.link-btn-blue.link-btn-details(href='#')
          | Подробнее
    .stroke-slider__slide.swiper-slide
      img.stroke-slider__slide-img.swiper-lazy(data-src='img/stroke/5.webp' alt='Тур Восстановления')
      .stroke-slider__slide-wrapper
        .stroke-slider__slide-title(style='color: #fff;')
          | Акции на проживание!
        a.stroke-slider__slide-btn.link-btn.link-btn-blue.link-btn-details(href='#')
          | Подробнее
    .stroke-slider__slide.swiper-slide
      img.stroke-slider__slide-img.swiper-lazy(data-src='img/stroke/6.webp' alt='Тур Восстановления')
      .stroke-slider__slide-wrapper
        .stroke-slider__slide-title(style='color: #4a5d35;')
          | Скидки на проживание, молодожёнам!
        a.stroke-slider__slide-btn.link-btn.link-btn-blue.link-btn-details(href='#')
          | Подробнее
  .main-slider__pagination.swiper-pagination
  .stroke-slider__button-prev.gallery__slider-button-prev.swiper-button-prev
  .stroke-slider__button-next.gallery__slider-button-next.swiper-button-next
