section.welcome(style="background: url('img/welcome/rooms.webp') 50% / cover no-repeat;")
  .welcome__wrapper
    nav.crumbs
      ul.crumbs__list
        li.crumbs__item
          a.crumbs__link(href='index.html')
            | Главная
            +svg('arrow', '10', '10', '#e8e6e3', '#fff')
        li.crumbs__item
          a.crumbs__link
            | Номера
    h2.welcome__title
      | Номера Баден-Баден
    p.welcome__text
      | Мы предлагаем к проживанию удобные номера с современной отделкой. Всего на территории комплекса имеется 3 корпуса с номерами разной степени комфортности.
      +svg('wive', '281', '15', 'none', '#e8e6e3')
