<section class="apartments wrapper">
  <div class="container">
    <div class="apartments__list">
      <div class="apartments__item">
        <div class="apartments__gallery">
            <a data-fancybox="gallery-standart" href="img/gallery-fancybox/standart/1.webp">
              <img class="lazy" style="width: 280px; height: 210px;" data-src="img/main-menu/room-1.webp" alt="Стандарт">
            </a>
            <div style="display: none;">
              <a data-fancybox="gallery-standart" href="img/gallery-fancybox/standart/2.webp"></a>
              <a data-fancybox="gallery-standart" href="img/gallery-fancybox/standart/3.webp"></a>
            </div>
        </div>
        <div class="apartments__info">
            <a class="apartments__info-title title-25" href="#">
              Стандарт
            </a>
            <p class="apartments__info-text">
              Однокомнатный номер с 1/2/3/4 одно­спальными кроватями. На 1м этаже: кулер и микроволновка.
              Данное изображение может не соответствовать реальности.
            </p>
            <div class="apartments__info-price title-25">
              От 3 500 рублей
            </div>
            <a class="apartments__info-btn link-btn link-btn-blue link-btn-details" href="#">
              Подробнее
            </a>
        </div>
        <div class="apartments__item-table">
          <table class="apartments__table">
            <tbody class="apartments__table-body">
              <tr class="apartments__table-row">
                <td class="apartments__table-column apartments__table-column--color">
                  Вместимость:
                </td>
                <td class="apartments__table-column">
                  До 4 гостей
                </td>
              </tr>
              <tr class="apartments__table-row">
                <td class="apartments__table-column apartments__table-column--color">
                  Площадь:
                </td>
                <td class="apartments__table-column">
                </td>
              </tr>
              <tr class="apartments__table-row">
                <td class="apartments__table-column apartments__table-column--color">
                  Вид из окна:
                </td>
                <td class="apartments__table-column">
                  на территорию комплекса / на лес
                </td>
              </tr>
              <tr class="apartments__table-row">
                <td class="apartments__table-column apartments__table-column--color">
                  Корпус:
                </td>
                <td class="apartments__table-column">
                  № 3 ** и 1
                </td>
              </tr>
            </tbody>
          </table>
          <a class="apartments__item-discount" href="stroke.html">
            Информация о скидках в разделе АКЦИИ!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>