<section class="stroke-slider main-slider swiper">
  <div class="stroke-slider__wrapper swiper-wrapper">
    <div class="stroke-slider__slide swiper-slide">
      <img class="stroke-slider__slide-img swiper-lazy" data-src="img/stroke/1.webp" alt="Тур Восстановления">
      <div class="stroke-slider__slide-wrapper">
        <div class="stroke-slider__slide-title" style="color: dodgerblue;">
          Тур "Восстановление"
        </div>
        <a class="stroke-slider__slide-btn link-btn link-btn-blue link-btn-details" href="#">
          Подробнее
        </a>
      </div>
    </div>
    <div class="stroke-slider__slide swiper-slide">
      <img class="stroke-slider__slide-img swiper-lazy" data-src="img/stroke/2.webp" alt="Тур Восстановления">
      <div class="stroke-slider__slide-wrapper">
        <div class="stroke-slider__slide-title" style="color: dodgerblue;">
          Экспресс-поздравления по любому поводу!
        </div>
        <a class="stroke-slider__slide-btn link-btn link-btn-blue link-btn-details" href="#">
          Подробнее
        </a>
      </div>
    </div>
    <div class="stroke-slider__slide swiper-slide">
      <img class="stroke-slider__slide-img swiper-lazy" data-src="img/stroke/3.webp" alt="Тур Восстановления">
      <div class="stroke-slider__slide-wrapper">
        <div class="stroke-slider__slide-title" style="color: #49C0ED;">
          Романтический отдых для двоих!
        </div>
        <p class="stroke-slider__slide-text" style="color: #49C0ED;">
          Комплексные программы SPA Baden для романтического отдыха
        </p>
        <a class="stroke-slider__slide-btn link-btn link-btn-blue link-btn-details" href="#">
          Подробнее
        </a>
      </div>
    </div>
    <div class="stroke-slider__slide swiper-slide">
      <img class="stroke-slider__slide-img swiper-lazy" data-src="img/stroke/4.webp" alt="Тур Восстановления">
      <div class="stroke-slider__slide-wrapper">
        <div class="stroke-slider__slide-title" style="color: #fff;">
          Абонемент семья!
        </div>
        <p class="stroke-slider__slide-text" style="color: #fff;">
          При покупке 2-х взрослых билетов в комплекс Thermal на 3 часа и более, ребенок до 14 лет купается бесплатно.
        </p>
        <a class="stroke-slider__slide-btn link-btn link-btn-blue link-btn-details" href="#">
          Подробнее
        </a>
      </div>
    </div>
    <div class="stroke-slider__slide swiper-slide">
      <img class="stroke-slider__slide-img swiper-lazy" data-src="img/stroke/5.webp" alt="Тур Восстановления">
      <div class="stroke-slider__slide-wrapper">
        <div class="stroke-slider__slide-title" style="color: #fff;">
          Акции на проживание!
        </div>
        <a class="stroke-slider__slide-btn link-btn link-btn-blue link-btn-details" href="#">
          Подробнее
        </a>
      </div>
    </div>
    <div class="stroke-slider__slide swiper-slide">
      <img class="stroke-slider__slide-img swiper-lazy" data-src="img/stroke/6.webp" alt="Тур Восстановления">
      <div class="stroke-slider__slide-wrapper">
        <div class="stroke-slider__slide-title" style="color: #4a5d35;">
          Скидки на проживание, молодожёнам!
        </div>
        <a class="stroke-slider__slide-btn link-btn link-btn-blue link-btn-details" href="#">
          Подробнее
        </a>
      </div>
    </div>
  </div>
  <div class="main-slider__pagination swiper-pagination"></div>
  <div class="stroke-slider__button-prev gallery__slider-button-prev swiper-button-prev"></div>
  <div class="stroke-slider__button-next gallery__slider-button-next swiper-button-next"></div>
</section>