<section class="welcome">
  <div class="container">
    <nav class="crumbs">
      <ul class="crumbs__list">
        <li class="crumbs__item">
          <a href="/" class="crumbs__link">
            Главная
          </a>
        </li>
        <li class="crumbs__item">
          Номера
        </li>
      </ul>
    </nav>
    <h2 class="welcome__title">
      Номера Баден-Баден
    </h2>
    <p class="welcome__text">
      Мы предлагаем к проживанию удобные номера с современной отделкой. Всего на территории комплекса имеется 3 корпуса с номерами разной степени комфортности.
    </p>
    
  </div>
</section>