.flex {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
}

.--just-space {
   justify-content: space-between;
}

.--just-center {
   justify-content: center;
}

.--just-end {
   justify-content: flex-end;
}

.--align-str {
   align-items: stretch;
}

.--align-center {
   align-items: center;
}

.--align-end {
   align-items: flex-end;
}

.--dir-col {
   flex-direction: column;
}
html,
body {
   color: $colorBlack;
   font-family: "OpenSans", sans-serif;
   font-size: 15px;
   font-weight: 400;
   transition: all 0.5s ease 0s;
}
a,
.header__contacts-title{
   color: inherit;
   transition: all 0.3s ease 0s;
}
a:hover{
   color: $colorBlue;
}
button{
   background-color: inherit;
}
h1,
h2{
   font-size: $f50;
   font-weight: 900;
   line-height: 1.2;
}
body.lock{
   background: rgba(0,0,0,.5);
}
._wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   min-height: 100%;
}
.main {
   flex: 1 1 auto;
}
.wrapper{
   margin-top: 100px;
}
.container {
   @include container("", "10px");
   position: relative;
}
.container--1300 {
   @include container("1300px", "10px");
   position: relative;
}