.flex {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
}

.--just-space {
   justify-content: space-between;
}

.--just-center {
   justify-content: center;
}

.--just-end {
   justify-content: flex-end;
}

.--align-str {
   align-items: stretch;
}

.--align-center {
   align-items: center;
}

.--align-end {
   align-items: flex-end;
}

.--dir-col {
   flex-direction: column;
}
html,
body {
   color: $colorBlack;
   font-family: "OpenSans", sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 1.42;
   transition: all 0.5s ease 0s;
}
a,
.header__contacts-title{
   color: inherit;
   transition: all 0.3s ease 0s;
}
a:not(.link-btn):hover{
   color: $colorBlue;
}
button{
   background-color: inherit;
}
h1,
h2{
   font-size: $f50;
   font-weight: 900;
   line-height: 1.2;
}
h3{
   font-size: $f25;
   font-weight: 900;
   line-height: 1.2;
}
h4{
   font-size: $f20;
   font-weight: 600;
   line-height: 1.4;
}
body.lock{
   background: rgba(0,0,0,.5);
}
._wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   min-height: 100%;
}
.main {
   flex: 1 1 auto;
}
.wrapper{
   margin-top: $m100;
}
.container {
   @include container("", "10px");
   position: relative;
}
.container--1862 {
   @include container("1882px", "10px");
   position: relative;
}
.container--1432 {
   @include container("1452px", "10px");
   position: relative;
}
.container--1300 {
   @include container("1320px", "10px");
   position: relative;
}
.link-dashed{
   width: fit-content;
   border-bottom: 1px dashed $colorBlack;
}
.link-dashed:hover{
   border-bottom: 1px dashed $colorBlue;
}
.link-btn{
   border-radius: 30px;
}
.link-btn:hover{
   box-shadow: 0px 5px 20px 2px rgba(34, 60, 80, 0.2);
}
.link-btn-white{
   color: $colorBlack;
   background-color: $colorWhite;
   padding: 20px 60px;
}
.link-btn-blue{
   color: $colorWhite;
   background-color: #1A97D5;
}
.link-btn-details{
   padding: 15px 50px;
}