<footer class="footer wrapper">
   <div class="container--1862">
      <ul class="footer__list-copy flex">
         <li class="footer__item-copy">
            &copy
         </li>
         <li class="footer__item-copy">
            2021
         </li>
         <li class="footer__item-copy">
            «Баден-Баден»
         </li>
      </ul>
      <nav class="footer__navbar">
         <ul class="footer__list-nav flex">
            <li class="footer__item-nav">
               <a class="footer__link-nav" href="#">
                  Все услуги
               </a>
            </li>
            <li class="footer__item-nav">
               <a class="footer__link-nav" href="#">
                  Акции
               </a>
            </li>
            <li class="footer__item-nav">
               <a class="footer__link-nav" href="#">
                  Мероприятия
               </a>
            </li>
            <li class="footer__item-nav">
               <a class="footer__link-nav" href="#">
                  Свадьбы и банкеты
               </a>
            </li>
            <li class="footer__item-nav">
               <a class="footer__link-nav" href="#">
                  Фото и видео
               </a>
            </li>
            <li class="footer__item-nav">
               <a class="footer__link-nav" href="#">
                  Продажа апартаментов
               </a>
            </li>
            <li class="footer__item-nav">
               <a class="footer__link-nav" href="#">
                  Контакты
               </a>
            </li>
            <li class="footer__item-nav">
               <a class="footer__link-nav" href="#">
                  Условия оплаты
               </a>
            </li>
         </ul>
      </nav>
      <ul class="footer__list-dev flex">
         <li class="footer__item-dev">
            Сайт создан:
         </li>
         <li class="footer__item-dev">
            <a class="footer__link--by" href="https://github.com/TiroZit">by TiroZit</a>
         </li>
      </ul>   
   </div>
</footer>
