<header class="header">
   <style>
      .cls-1 {
         stroke: #d3d3d3;
      }
   </style>
   <div class="container flex --just-space">
      <a class="logo" href="/">
         <img
            class="logo__desktop"
            src="img/header/logo-desktop.svg"
            alt="logo"
         />
         <img
            class="logo__mobile"
            src="img/header/logo-mobile.svg"
            alt="logo"
         />
         <h1 class="logo__title">термы Еткуль</h1>
      </a>
      <a href="#" class="header__services">
         <button class="burger-menu"></button>
         <div class="header__services-title">Все услуги</div>
      </a>
      <nav class="header__menu">
         <ul class="header__menu-list">
            <li class="header__menu-item">
               <a class="header__menu-link" href="/stoke">Акции</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "width":"width: 9px;", "height":"height: 9px;",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/stoke">Прайс</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "width":"width: 9px;", "height":"height: 9px;",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/stoke">Номера</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "width":"width: 9px;", "height":"height: 9px;",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/stoke">Контакты</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "width":"width: 9px;", "height":"height: 9px;",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/stoke">
                  <span>Организация свадеб</span>
               </a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "width":"width: 9px;", "height":"height: 9px;",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/stoke">
                  <span>Бани народов мира</span>
               </a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "width":"width: 9px;", "height":"height: 9px;",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/stoke">
                  <span>Новый год 2022</span>
               </a>
            </li>
         </ul>
      </nav>
   </div>
</header>
