<header class="header">
   <div class="container--1862">
      <div class="logo">
         <a class="logo__link" href="/" aria-label="logo">
            @@include('../bem-blocks/_sprite.html',{ "class":"logo-desktop",
               "width":"width: 90px;",
               "id":"logo-desktop", })
            @@include('../bem-blocks/_sprite.html',{ "class":"logo-mobile",
               "width":"width: 60px;", "height":"height: 58px;",
               "id":"logo-mobile", })
            <h1 class="logo__title">термы Еткуль</h1>
         </a>
      </div>
      <button class="burger-menu">
         <span class="burger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
         </span>
         <span class="burger-menu__title">Все услуги</span>
      </button>
      <nav class="header__menu">
         <ul class="header__menu-list">
            <li class="header__menu-item header__menu-item--services">
               @@include('../bem-blocks/_sprite.html',{ "class":"arrow",
               "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
               "id":"arrow", })
               <div class="header__menu-link">Все услуги</div>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/stoke">Акции</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/price">Прайс</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/rooms">Номера</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/contacts">Контакты</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/wedding">
                  <span style="color: #bb93af;">Организация свадеб</span>
               </a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/baths">
                  <span style="color: #fa8072;">Бани народов мира</span>
               </a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/new-year">
                  <span style="color: #337dff;">Новый год 2022</span>
               </a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"pattern", })
            </li>
         </ul>
      </nav>
      <nav class="main-menu">
         <ul class="main-menu__complex">
            <li class="main-menu__item--logo">
               <div class="main-menu__subtitle">
                  комплекс
               </div>
               <div class="main-menu__title">
                  Thermal
               </div>
            </li>
            <li class="main-menu__item--price">
               от 400 руб.
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Горячие источники
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Комплекс саун
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Соляная комната
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Бани народов мира
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Детям
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Тренажерный зал
               </a>
            </li>
         </ul>
         <ul class="main-menu__list">
            <li class="main-menu__item main-menu__item--rooms">
               <a class="main-menu__link" href="/">
                  Номера
               </a>
               <ul class="main-rooms main-menu">
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-1.webp" alt="Стандарт">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Стандарт
                           </h5>
                           <div class="main-rooms__price">
                              от 3500 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">                        
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-2.webp" alt="Стандарт улучшенный">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Стандарт улучшенный
                           </h5>
                           <div class="main-rooms__price">
                              от 6800 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">                        
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-3.webp" alt="Стандарт улучшенный двухкомнатный">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Стандарт улучшенный двухкомнатный
                           </h5>
                           <div class="main-rooms__price">
                              от 7700 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">                        
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-4.webp" alt="Стандарт семейный">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Стандарт семейный
                           </h5>
                           <div class="main-rooms__price">
                              от 8200 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">                        
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-5.webp" alt="Комфорт однокомнатный">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Комфорт однокомнатный
                           </h5>
                           <div class="main-rooms__price">
                              от 7200 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">                        
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-6.webp" alt="Комфорт двухкомнатный">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Комфорт двухкомнатный
                           </h5>
                           <div class="main-rooms__price">
                              от 11400 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">                        
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-7.webp" alt="Forest двухместный">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Forest двухместный
                           </h5>
                           <div class="main-rooms__price">
                              от 9000 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">                        
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-8.webp" alt="Forest двухместный (панорамный)">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Forest двухместный (панорамный)
                           </h5>
                           <div class="main-rooms__price">
                              от 9500 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">                        
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-9.webp" alt="Термаль Garden view">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Термаль Garden view
                           </h5>
                           <div class="main-rooms__price">
                              от 12400 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-10.webp" alt="Термаль Pool view">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Термаль Pool view
                           </h5>
                           <div class="main-rooms__price">
                              от 12900 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-11.webp" alt="Термаль Лофт">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Термаль Лофт
                           </h5>
                           <div class="main-rooms__price">
                              от 14100 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-12.webp" alt="Термаль Апартаменты двухкомнатные">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Термаль Апартаменты двухкомнатные
                           </h5>
                           <div class="main-rooms__price">
                              от 17900 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-13.webp" alt="Термаль Апартаменты студия">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Термаль Апартаменты студия
                           </h5>
                           <div class="main-rooms__price">
                              от 14100 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-14.webp" alt="Дом - контейнер">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Дом - контейнер
                           </h5>
                           <div class="main-rooms__price">
                              от 10000 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-15.webp" alt="Апартаменты с кухней и столовой">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Апартаменты с кухней и столовой
                           </h5>
                           <div class="main-rooms__price">
                              от 15600 руб.
                           </div>
                        </div>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/room-16.webp" alt="Коттедж №1 с мангальной зоной">
                        <div class="main-rooms__content">
                           <h5 class="main-rooms__title">
                              Коттедж №1 с мангальной зоной
                           </h5>
                           <div class="main-rooms__price">
                              от 27500 руб.
                           </div>
                        </div>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Мангальные зоны
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Пляж
               </a>
            </li>
            <li class="main-menu__item main-menu__item--cafe">
               <a class="main-menu__link" href="/">
                  Рестораны и кафе
               </a>
               <ul class="main-cafe main-rooms main-menu">
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/cafe-1.webp" alt="Каминный зал">
                        <h5 class="main-cafe__title main-rooms__title">
                           Каминный зал
                        </h5>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/cafe-2.webp" alt="Baden Gourmet">
                        <h5 class="main-cafe__title main-rooms__title">
                           Baden Gourmet
                        </h5>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/cafe-3.webp" alt="Cafe Thermal">
                        <h5 class="main-cafe__title main-rooms__title">
                           Cafe Thermal
                        </h5>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/cafe-4.webp" alt="Банкетный зал">
                        <h5 class="main-cafe__title main-rooms__title">
                           Банкетный зал
                        </h5>
                     </a>
                  </li>
                  <li class="main-rooms__item">
                     <a class="main-rooms__link" href="/">
                        <img class="main-rooms__img lazy" data-src="img/main-menu/cafe-5.webp" alt="Свадебный шатер">
                        <h5 class="main-cafe__title main-rooms__title">
                           Свадебный шатер
                        </h5>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Организация мероприятий
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Ближайшие мероприятия и фотоотчёты
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Отдых и доп.услуги
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  СПА
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Автобусный тур
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" style="color: red;" href="/">
                  Свадьбы
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Продажа апартаментов
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Фото и видео
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Вакансии
               </a>
            </li>
            <li class="main-menu__item">
               <a class="main-menu__link" href="/">
                  Вопрос-ответ
               </a>
            </li>
         </ul>
         <a class="main-menu__btn main-menu__btn--bed" href="/">
            @@include('../bem-blocks/_sprite.html',{ "class":"bed",
            "width":"width: 36px;", "height":"height: 25px;", "fill":"fill:none;", 
            "id":"bed", })
            <div class="main-menu__btn-title">
               Найти номер
            </div>
         </a>   
      </nav>
      <address class="header__contacts">
         <a class="header__contacts-link" href="tel:+73512003333" aria-label="phone">
            @@include('../bem-blocks/_sprite.html',{ "class":"phone",
            "width":"width: 17px;", "height":"height: 17px;", "fill":"fill:none;", 
            "id":"phone", })
            <div class="header__contacts-title">
               +7 351 200 3333
            </div>
         </a>
         <a class="header__contacts-link--btn" data-fancybox data-src="#phonePopup" href="#" aria-label="phonePopup">
            @@include('../bem-blocks/_sprite.html',{ "class":"phone--popup",
            "width":"width: 26px;", "height":"height: 18px;", "fill":"fill:none;", 
            "stroke":"stroke: #0d6690", "id":"phone--popup", })
         </a>
         <div class="header__contacts-dropdown">
             <span class="arrow"></span>
            <a class="header__contacts-dropdown-title" data-fancybox data-src="#phonePopup" href="#">
               Заказать звонок
            </a>
         </div>
      </address>
      <div class="header__socials">
         <a class="header__social-item" href="https://ok.ru/lesnayaskazka" aria-label="ok">
            @@include('../bem-blocks/_sprite.html',{ "class":"ok",
            "width":"width: 12px;", "height":"height: 22px;", "fill":"fill:none;", 
             "id":"ok", })
         </a>
         <a class="header__social-item" href="https://vk.com/74baden" aria-label="vk">
            @@include('../bem-blocks/_sprite.html',{ "class":"vk",
            "width":"width: 18px;", "height":"height: 14px;", "fill":"fill:none;", 
             "id":"vk", })
         </a>
         <a class="header__social-item" href="https://www.instagram.com/badenhot" aria-label="instagram">
            @@include('../bem-blocks/_sprite.html',{ "class":"instagram",
            "width":"width: 17px;", "height":"height: 17px;", "fill":"fill:none;", 
             "id":"instagram", })
         </a>
      </div>
   </div>
</header>
