<header class="header">
   <div class="container">
      <a class="logo" href="/">
         <img
            class="logo__desktop"
            src="img/header/logo-desktop.svg"
            alt="logo"
         />
         <img
            class="logo__mobile"
            src="img/header/logo-mobile.svg"
            alt="logo"
         />
         <h1 class="logo__title">термы Еткуль</h1>
      </a>
      <a href="#" class="header__services">
         <button class="burger-menu"></button>
         <button class="m-burger-services"></button>
         <div class="header__services-title">Все услуги</div>
      </a>
      <nav class="header__menu">
         <ul class="header__menu-list">
            <li class="header__menu-item header__menu-item--services">
               @@include('../bem-blocks/_sprite.html',{ "class":"arrow",
               "width":"width: 11px;", "height":"height: 16px;", "fill":"fill:none;",
               "id":"css--arrow", })
               <a class="header__menu-link" href="">Все услуги</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/stoke">Акции</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/price">Прайс</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/rooms">Номера</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/contacts">Контакты</a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/wedding">
                  <span style="color: #bb93af;">Организация свадеб</span>
               </a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/baths">
                  <span style="color: #fa8072;">Бани народов мира</span>
               </a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"css--pattern", })
            </li>
            <li class="header__menu-item">
               <a class="header__menu-link" href="/new-year">
                  <span style="color: blue;">Новый год 2022</span>
               </a>
               @@include('../bem-blocks/_sprite.html',{ "class":"pattern",
               "id":"css--pattern", })
            </li>
         </ul>
      </nav>
      <div class="header__contacts">
         <a class="header__contacts-link" href="tel:+73512003333">
            @@include('../bem-blocks/_sprite.html',{ "class":"phone",
            "width":"width: 17px;", "height":"height: 17px;", "fill":"fill:none;", 
            "id":"css--phone", })
            <div class="header__contacts-title">
               +7 351 200 3333
            </div>
         </a>
         <a class="header__contacts-link--btn" href="#">
            @@include('../bem-blocks/_sprite.html',{ "class":"phone--popup",
            "width":"width: 26px;", "height":"height: 18px;", "fill":"fill:none;", 
            "stroke":"stroke: #0d6690", "id":"css--phone--popup", })
         </a>
      </div>
      <div class="header__socials">
         <a class="header__social-item" href="https://ok.ru/lesnayaskazka">
            @@include('../bem-blocks/_sprite.html',{ "class":"ok",
            "width":"width: 12px;", "height":"height: 22px;", "fill":"fill:none;", 
             "id":"css--ok", })
         </a>
         <a class="header__social-item" href="https://vk.com/74baden">
            @@include('../bem-blocks/_sprite.html',{ "class":"vk",
            "width":"width: 18px;", "height":"height: 14px;", "fill":"fill:none;", 
             "id":"css--vk", })
         </a>
         <a class="header__social-item" href="https://www.instagram.com/badenhot">
            @@include('../bem-blocks/_sprite.html',{ "class":"instagram",
            "width":"width: 17px;", "height":"height: 17px;", "fill":"fill:none;", 
             "id":"css--instagram", })
         </a>
      </div>
   </div>
</header>
