<section class="main-menu">
   <ul class="main-menu__complex">
      <li class="main-menu__item main-menu__item--logo">
         <div class="main-menu__subtitle">
            комплекс
         </div>
         <div class="main-menu__title">
            Thermal
         </div>
      </li>
      <li class="main-menu__item--price">
         от 400 руб.
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Горячие источники
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Комплекс саун
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Соляная комната
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Бани народов мира
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Детям
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Тренажерный зал
         </a>
      </li>
   </ul>
   <ul class="main-menu__list">
      <li class="main-menu__item main-menu__item--rooms">
         <a class="main-menu__link" href="/">
            Номера
         </a>
         <ul class="main-rooms main-menu">
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-1.jpg)no-repeat 50% / cover"></div>
                  <!-- <img class="main-rooms__img" src="img/main-menu/room-1.jpg" alt="room-1"> -->
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Стандарт
                     </div>
                     <div class="main-rooms__price">
                        от 3500 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-2.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Стандарт улучшенный
                     </div>
                     <div class="main-rooms__price">
                        от 6800 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-3.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Стандарт улучшенный двухкомнатный
                     </div>
                     <div class="main-rooms__price">
                        от 7700 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-4.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Стандарт семейный
                     </div>
                     <div class="main-rooms__price">
                        от 8200 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-5.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Комфорт однокомнатный
                     </div>
                     <div class="main-rooms__price">
                        от 7200 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-6.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Комфорт двухкомнатный
                     </div>
                     <div class="main-rooms__price">
                        от 11400 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-7.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Forest двухместный
                     </div>
                     <div class="main-rooms__price">
                        от 9000 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-8.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Forest двухместный (панорамный)
                     </div>
                     <div class="main-rooms__price">
                        от 9500 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-9.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Термаль Garden view
                     </div>
                     <div class="main-rooms__price">
                        от 12400 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-10.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Термаль Pool view
                     </div>
                     <div class="main-rooms__price">
                        от 12900 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-11.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Термаль Лофт
                     </div>
                     <div class="main-rooms__price">
                        от 14100 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-12.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Термаль Апартаменты двухкомнатные
                     </div>
                     <div class="main-rooms__price">
                        от 17900 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-13.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Термаль Апартаменты студия
                     </div>
                     <div class="main-rooms__price">
                        от 14100 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-14.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Дом - контейнер
                     </div>
                     <div class="main-rooms__price">
                        от 10000 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-15.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Апартаменты с кухней и столовой
                     </div>
                     <div class="main-rooms__price">
                        от 15600 руб.
                     </div>
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/room-16.jpg)no-repeat 50% / cover"></div>
                  <div class="main-rooms__content">
                     <div class="main-rooms__title">
                        Коттедж №1 с мангальной зоной
                     </div>
                     <div class="main-rooms__price">
                        от 27500 руб.
                     </div>
                  </div>
               </a>
            </li>
         </ul>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Мангальные зоны
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Пляж
         </a>
      </li>
      <li class="main-menu__item main-menu__item--cafe">
         <a class="main-menu__link" href="/">
            Рестораны и кафе
         </a>
         <ul class="main-cafe main-rooms main-menu">
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/cafe-1.jpg)no-repeat 50% / cover"></div>
                  <div class="main-cafe__title main-rooms__title">
                     Каминный зал
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/cafe-2.jpg)no-repeat 50% / cover"></div>
                  <div class="main-cafe__title main-rooms__title">
                     Baden Gourmet
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/cafe-3.jpg)no-repeat 50% / cover"></div>
                  <div class="main-cafe__title main-rooms__title">
                     Cafe Thermal
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/cafe-4.jpg)no-repeat 50% / cover"></div>
                  <div class="main-cafe__title main-rooms__title">
                     Банкетный зал
                  </div>
               </a>
            </li>
            <li class="main-rooms__item">
               <a class="main-rooms__link" href="/">
                  <div class="main-rooms__img" style="background: url(img/main-menu/cafe-5.jpg)no-repeat 50% / cover"></div>
                  <div class="main-cafe__title main-rooms__title">
                     Свадебный шатер
                  </div>
               </a>
            </li>
         </ul>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Организация мероприятий
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Ближайшие мероприятия и фотоотчёты
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Отдых и доп.услуги
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            СПА
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Автобусный тур
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" style="color: red;" href="/">
            Свадьбы
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Продажа апартаментов
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Фото и видео
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Вакансии
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Вопрос-ответ
         </a>
      </li>
   </ul>
   <a class="main-menu__btn main-menu__btn--bed" href="/">
      @@include('../bem-blocks/_sprite.html',{ "class":"bed",
      "width":"width: 36px;", "height":"height: 25px;", "fill":"fill:none;", 
      "id":"css--bed", })
      <div class="main-menu__btn-title">
         Найти номер
      </div>
   </a>
</section>