<section class="main-menu">
   <ul class="main-menu__complex">
      <li class="main-menu__item main-menu__item--logo">
         <div class="main-menu__subtitle">
            комплекс
         </div>
         <div class="main-menu__title">
            Thermal
         </div>
      </li>
      <li class="main-menu__item--price">
         от 400 руб.
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Горячие источники
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Комплекс саун
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Соляная комната
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Бани народов мира
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Детям
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Тренажерный зал
         </a>
      </li>
   </ul>
   <ul class="main-menu__list">
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Номера
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Мангальные зоны
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Пляж
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Рестораны и кафе
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Организация мероприятий
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Ближайшие мероприятия и фотоотчёты
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Отдых и доп.услуги
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            СПА
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Автобусный тур
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" style="color: red;" href="/">
            Свадьбы
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Продажа апартаментов
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Фото и видео
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Вакансии
         </a>
      </li>
      <li class="main-menu__item">
         <a class="main-menu__link" href="/">
            Вопрос-ответ
         </a>
      </li>
   </ul>
   <a class="main-menu__btn main-menu__btn--bed" href="/">
      @@include('../bem-blocks/_sprite.html',{ "class":"bed",
            "width":"width: 36px;", "height":"height: 25px;", "fill":"fill:none;", 
             "id":"css--bed", })
      <div class="main-menu__btn-title">
         Найти номер
      </div>
   </a>
</section>