<div class="popup-phone__wrapper" id="phonePopup" style="display: none; cursor: default;">
  <div class="popup-phone__title">
    Заказать звонок
  </div>
  <form action="" class="popup-phone__form">
    <fieldset class="popup-phone__form-fiels">
      <label class="booking__label">
        Имя <span style="color: #e21d2c;">*</span>
        <input class="booking__input" name="last-name" type="text" pattern="^[А-Яа-яЁё\s]+$" placeholder="Фамилия" required>
      </label>
      <label class="booking__label">
        Телефон плательщика <span style="color: #e21d2c;">*</span>
        <input class="booking__input" name="tel" type="tel" placeholder="+7 (999) 999-99-99" required>
      </label>
    </fieldset>
    <button class="popup-phone__form-btn booking__form-btn link-btn" type="submit">Отправить</button>
  </form>
</div>