<section class="event wrapper">
   <div class="container--1300">
      <h2 class="event__title">Ближайшие мероприятия в Баден-Баден</h2>
      <div class="event__content">
         <div class="event__item">
            <div class="event__date-item">18.10.2021</div>
            <h3 class="event__title-item">Анимационная программа с 18 по 24 октября!</h3>
            <p class="event__text-item">Ежедневные мероприятия для всей семьи!</p>
            <a class="link-dashed" href="/">Подробнее</a>
         </div>
         <div class="event__item">
            <div class="event__date-item">25.10.2021</div>
            <h3 class="event__title-item">Осенние школьные каникулы в Баден-Баден!</h3>
            <p class="event__text-item">Программа мероприятий с 25 по 31 октября!</p>
            <a class="link-dashed" href="/">Подробнее</a>
         </div>
         <div class="event__item">
            <div class="event__date-item">01.11.2021</div>
            <h3 class="event__title-item">Осенние школьные каникулы в Баден-Баден!</h3>
            <p class="event__text-item">Программа мероприятий в дни школьных каникул с 1 по 7 ноября!</p>
            <a class="link-dashed" href="/">Подробнее</a>
         </div>
      </div>
      <a class="link-btn-details link-btn-blue link-btn" href="/">Смотреть все</a>
   </div>
</section>