<section class="gallery leisure wrapper">
   <div class="container--1432">
      <h2 class="leisure__title">Фото и видео комплекса</h2>
      <nav class="tabs">
         <ul class="tabs__list">
            <li class="tabs__item">
               <a class="tabs__link tabs__link--gallery" href="#tab-1--gallery">Горячий источник</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--gallery" href="#tab-2--gallery">Номера</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--gallery" href="#tab-3--gallery">Рестораны и кафе</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--gallery" href="#tab-4--gallery">Территория</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--gallery" href="#tab-5--gallery">Детские развлечения</a>
            </li>
         </ul>
      </nav>
   </div>
   <div class="gallery__slider swiper" id="tab-1--gallery">
      <div class="gallery__slider-wrapper swiper-wrapper">
         <a data-fancybox="gallery" data-src="https://youtu.be/3qg191Lf8To" class="gallery__slider-slide swiper-slide">
            <img class="gallery__slider-img" src="img/gallery-slider/thermal-preview/1.jpg" alt="video-1">
            <div class="gallery__img-play" style="background: url(img/gallery-slider/video-play.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="https://www.youtube.com/watch?v=NyFiJ4h0Wg8" class="gallery__slider-slide swiper-slide">
            <img class="gallery__slider-img" src="img/gallery-slider/thermal-preview/2.jpg" alt="video-2">
            <div class="gallery__img-play" style="background: url(img/gallery-slider/video-play.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="https://www.youtube.com/watch?v=NWi5YQbJqMQ" class="gallery__slider-slide swiper-slide">
            <img class="gallery__slider-img" src="img/gallery-slider/thermal-preview/3.png" alt="video-3">
            <div class="gallery__img-play" style="background: url(img/gallery-slider/video-play.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/1.jpg" class="gallery__slider-slide swiper-slide">
            <img class="gallery__slider-img" src="img/gallery-slider/thermal/1.jpg" alt="photo-1">
            <div class="gallery__img-zoom" style="background: url(img/gallery-slider/zoom-large.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/2.jpg" class="gallery__slider-slide swiper-slide">
            <img src="img/gallery-slider/thermal/2.jpg" alt="photo-2">
            <div class="gallery__img-zoom" style="background: url(img/gallery-slider/zoom-large.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="https://youtu.be/0wOHCd9SsqI" class="gallery__slider-slide swiper-slide">
            <img class="gallery__slider-img" src="img/gallery-slider/thermal-preview/4.jpg" alt="video-4">
            <div class="gallery__img-play" style="background: url(img/gallery-slider/video-play.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/3.jpg" class="gallery__slider-slide swiper-slide">
            <img src="img/gallery-slider/thermal/3.jpg" alt="photo-3">
            <div class="gallery__img-zoom" style="background: url(img/gallery-slider/zoom-large.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/4.jpg" class="gallery__slider-slide swiper-slide">
            <img src="img/gallery-slider/thermal/4.jpg" alt="photo-4">
            <div class="gallery__img-zoom" style="background: url(img/gallery-slider/zoom-large.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/5.jpg" class="gallery__slider-slide swiper-slide">
            <img src="img/gallery-slider/thermal/5.jpg" alt="photo-5">
            <div class="gallery__img-zoom" style="background: url(img/gallery-slider/zoom-large.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/6.jpg" class="gallery__slider-slide swiper-slide">
            <img src="img/gallery-slider/thermal/6.jpg" alt="photo-6">
            <div class="gallery__img-zoom" style="background: url(img/gallery-slider/zoom-large.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/7.jpg" class="gallery__slider-slide swiper-slide">
            <img src="img/gallery-slider/thermal/7.jpg" alt="photo-7">
            <div class="gallery__img-zoom" style="background: url(img/gallery-slider/zoom-large.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/8.jpg" class="gallery__slider-slide swiper-slide">
            <img src="img/gallery-slider/thermal/8.jpg" alt="photo-8">
            <div class="gallery__img-zoom" style="background: url(img/gallery-slider/zoom-large.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/9.jpg" class="gallery__slider-slide swiper-slide">
            <img src="img/gallery-slider/thermal/9.jpg" alt="photo-9">
            <div class="gallery__img-zoom" style="background: url(img/gallery-slider/zoom-large.png)no-repeat 50% / cover;"></div>
         </a>
         <a data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/10.jpg" class="gallery__slider-slide swiper-slide">
            <img src="img/gallery-slider/thermal/10.jpg" alt="photo-10">
            <div class="gallery__img-zoom" style="background: url(img/gallery-slider/zoom-large.png)no-repeat 50% / cover;"></div>
         </a>
      </div>
      <div class="gallery__slider-button-prev swiper-button-prev"></div>
      <div class="gallery__slider-button-next swiper-button-next"></div>         
   </div>
</section>