<section class="gallery leisure wrapper">
   <div class="container--1432">
      <h2 class="leisure__title">Фото и видео комплекса</h2>
      <nav class="tabs">
         <ul class="tabs__list">
            <li class="tabs__item">
               <a class="tabs__link tabs__link--gallery" href="#tab-1--gallery">Горячий источник</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--gallery" href="#tab-2--gallery">Номера</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--gallery" href="#tab-3--gallery">Рестораны и кафе</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--gallery" href="#tab-4--gallery">Территория</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--gallery" href="#tab-5--gallery">Детские развлечения</a>
            </li>
         </ul>
      </nav>
   </div>
   <div class="gallery__slider swiper" id="tab-1--gallery">
      <div class="gallery__slider-wrapper swiper-wrapper">
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="https://youtu.be/3qg191Lf8To">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal-preview/1.webp" src="img/1x1.webp" alt="video-1">
            <img class="gallery__img-play" data-src="img/gallery-slider/video-play.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="https://www.youtube.com/watch?v=NyFiJ4h0Wg8">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal-preview/2.webp" src="img/1x1.webp" alt="video-2">
            <img class="gallery__img-play" data-src="img/gallery-slider/video-play.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="https://www.youtube.com/watch?v=NWi5YQbJqMQ">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal-preview/3.webp" src="img/1x1.webp" alt="video-3">
            <img class="gallery__img-play" data-src="img/gallery-slider/video-play.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/1.webp">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal/1.webp" src="img/1x1.webp" alt="photo-1">
            <img class="gallery__img-zoom" data-src="img/gallery-slider/zoom-large.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/2.webp">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal/2.webp" src="img/1x1.webp" alt="photo-2">
            <img class="gallery__img-zoom" data-src="img/gallery-slider/zoom-large.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="https://youtu.be/0wOHCd9SsqI">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal-preview/4.webp" src="img/1x1.webp" alt="video-4">
            <img class="gallery__img-play" data-src="img/gallery-slider/video-play.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/3.webp">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal/3.webp" src="img/1x1.webp" alt="photo-3">
            <img class="gallery__img-zoom" data-src="img/gallery-slider/zoom-large.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/4.webp">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal/4.webp" src="img/1x1.webp" alt="photo-4">
            <img class="gallery__img-zoom" data-src="img/gallery-slider/zoom-large.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/5.webp">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal/5.webp" src="img/1x1.webp" alt="photo-5">
            <img class="gallery__img-zoom" data-src="img/gallery-slider/zoom-large.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/6.webp">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal/6.webp" src="img/1x1.webp" alt="photo-6">
            <img class="gallery__img-zoom" data-src="img/gallery-slider/zoom-large.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/7.webp">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal/7.webp" src="img/1x1.webp" alt="photo-7">
            <img class="gallery__img-zoom" data-src="img/gallery-slider/zoom-large.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/8.webp">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal/8.webp" src="img/1x1.webp" alt="photo-8">
            <img class="gallery__img-zoom" data-src="img/gallery-slider/zoom-large.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/9.webp">
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal/9.webp" src="img/1x1.webp" alt="photo-9">
            <img class="gallery__img-zoom" data-src="img/gallery-slider/zoom-large.webp" src="img/1x1.webp">
         </a>
         <a class="gallery__slider-slide swiper-slide" data-fancybox="gallery" data-src="img/gallery-fancybox/thermal/10.webp" >
            <img class="gallery__slider-img" data-src="img/gallery-slider/thermal/10.webp" src="img/1x1.webp" alt="photo-10">
            <img class="gallery__img-zoom" data-src="img/gallery-slider/zoom-large.webp" src="img/1x1.webp">
         </a>
      </div>
      <div class="gallery__slider-button-prev swiper-button-prev"></div>
      <div class="gallery__slider-button-next swiper-button-next"></div>         
   </div>
</section>