<section class="leisure wrapper">
   <div class="container--1432">
      <h2 class="leisure__title">34 способа провести время в Баден-Баден</h2>
      <nav class="tabs">
         <ul class="tabs__list">
            <li class="tabs__item">
               <a class="tabs__link tabs__link--leisure" href="#tab-1--leisure">Популярное</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--leisure" href="#tab-2--leisure">Оздоровительный и расслабляющий отдых</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--leisure" href="#tab-3--leisure">Проживание</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--leisure" href="#tab-4--leisure">Семейный отдых</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--leisure" href="#tab-5--leisure">Активный отдых</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--leisure" href="#tab-6--leisure">Торжественные мероприятия</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link tabs__link--leisure" href="#tab-7--leisure">Детям</a>
            </li>
         </ul>
      </nav>
      <div class="leisure__list" id="tab-1--leisure">
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide swiper-slide">
                     <img class="lazy" data-src="img/leisure-slider/cafe/1.webp" alt="Кафе Thermal 1">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/2.webp" alt="Кафе Thermal 2">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/3.webp" alt="Кафе Thermal 3">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/4.webp" alt="Кафе Thermal 4">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/5.webp" alt="Кафе Thermal 5">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/6.webp" alt="Кафе Thermal 6">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/7.webp" alt="Кафе Thermal 7">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/8.webp" alt="Кафе Thermal 8">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/9.webp" alt="Кафе Thermal 9">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/10.webp" alt="Кафе Thermal 10">
                  </div>
               </div>
               <span class="leisure-slider-stick"></span>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Кафе Thermal
                  </a>
                  <div class="leisure__inner-price">
                     Средний чек от 300 руб.
                  </div>
               </div>
               <p class="leisure__item-text">
                  Кафе располагается в термальном корпусе и предлагает блюда быстрого приготовления для посетителей spa курорта. Супы, горячие блюда, салатики, десерты и коктейли помогут восстановить силы, отдохнуть и расслабиться после купания. Часы работы: ежедневно с 09:00 до 23:00.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide swiper-slide">
                     <img class="lazy" data-src="img/leisure-slider/pool/1.webp" alt="Внутренний бассейн 1">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/pool/2.webp" alt="Внутренний бассейн 2">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/pool/3.webp" alt="Внутренний бассейн 3">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/pool/4.webp" alt="Внутренний бассейн 4">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/pool/5.webp" alt="Внутренний бассейн 5">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/pool/6.webp" alt="Внутренний бассейн 6">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/pool/7.webp" alt="Внутренний бассейн 7">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/pool/8.webp" alt="Внутренний бассейн 8">
                  </div>
               </div>
               <span class="leisure-slider-stick"></span>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Внутренний бассейн
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Большой бассейн в теплом помещении, под сводом высоких потолков — отличное место для купания всей семьей. Есть детский бассейн с горкой.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide swiper-slide">
                     <img class="lazy" data-src="img/leisure-slider/bath/1.webp" alt="Кафе Thermal 10">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/2.webp" alt="Бани 2">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/3.webp" alt="Бани 3">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/4.webp" alt="Бани 4">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/5.webp" alt="Бани 5">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/6.webp" alt="Бани 6">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/7.webp" alt="Бани 7">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/8.webp" alt="Бани 8">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/9.webp" alt="Бани 9">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/10.webp" alt="Бани 10">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/11.webp" alt="Бани 11">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/bath/12.webp" alt="Бани 12">
                  </div>
               </div>
               <span class="leisure-slider-stick"></span>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Бани народов мира
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Самая популярная и любимая услуга наших гостей! Здесь проходят парения Афгусс!
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide swiper-slide">
                     <img class="lazy" data-src="img/leisure-slider/barbecue/1.webp" alt="Мангальные зоны 1">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/barbecue/2.webp" alt="Мангальные зоны 2">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/barbecue/3.webp" alt="Мангальные зоны 3">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/barbecue/4.webp" alt="Мангальные зоны 4">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/barbecue/5.webp" alt="Мангальные зоны 5">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/barbecue/6.webp" alt="Мангальные зоны 6">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/barbecue/7.webp" alt="Мангальные зоны 7">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/barbecue/8.webp" alt="Мангальные зоны 8">
                  </div>
               </div>
               <span class="leisure-slider-stick"></span>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Мангальные зоны
                  </a>
                  <div class="leisure__inner-price">
                     от 300 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Мангальные зоны расположены на территории комплекса.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide swiper-slide">
                     <img class="lazy" data-src="img/leisure-slider/outdoor-pool/1.webp" alt="Бассейны под открытым небом 1">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/outdoor-pool/2.webp" alt="Бассейны под открытым небом 2">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/outdoor-pool/3.webp" alt="Бассейны под открытым небом 3">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/outdoor-pool/4.webp" alt="Бассейны под открытым небом 4">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/outdoor-pool/5.webp" alt="Бассейны под открытым небом 5">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/outdoor-pool/6.webp" alt="Бассейны под открытым небом 6">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/outdoor-pool/7.webp" alt="Бассейны под открытым небом 7">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/outdoor-pool/8.webp" alt="Бассейны под открытым небом 8">
                  </div>
               </div>
               <span class="leisure-slider-stick"></span>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Бассейны под открытым небом
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Два огромных бассейна под открытым небом! У всех гостей терма курорта «Баден-Баден» есть уникальная возможность купаться на открытом воздухе круглый год, несмотря на зимние морозы и прохладное уральское лето!
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide swiper-slide">
                     <img class="lazy" data-src="img/leisure-slider/spa/1.webp" alt="SPA 1">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/spa/2.webp" alt="SPA 2">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/spa/3.webp" alt="SPA 3">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/spa/4.webp" alt="SPA 4">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/spa/5.webp" alt="SPA 5">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/spa/6.webp" alt="SPA 6">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/spa/7.webp" alt="SPA 7">
                  </div>
               </div>
               <span class="leisure-slider-stick"></span>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     SPA
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Профессионально снять усталость, расслабить мышцы и избавить от болезненных ощущений помогут SPA-процедуры.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
      </div>
      <div class="leisure__list" id="tab-2--leisure">
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide swiper-slide">
                     <img class="lazy" data-src="img/leisure-slider/cafe/1.webp" alt="Кафе Thermal 1">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/2.webp" alt="Кафе Thermal 2">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/3.webp" alt="Кафе Thermal 3">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/4.webp" alt="Кафе Thermal 4">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/5.webp" alt="Кафе Thermal 5">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/6.webp" alt="Кафе Thermal 6">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/7.webp" alt="Кафе Thermal 7">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/8.webp" alt="Кафе Thermal 8">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/9.webp" alt="Кафе Thermal 9">
                  </div>
                  <div class="leisure__slide swiper-slide">
                     <img class="swiper-lazy" data-src="img/leisure-slider/cafe/10.webp" alt="Кафе Thermal 10">
                  </div>
               </div>
               <span class="leisure-slider-stick"></span>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Кафе Thermal
                  </a>
                  <div class="leisure__inner-price">
                     Средний чек от 300 руб.
                  </div>
               </div>
               <p class="leisure__item-text">
                  Кафе располагается в термальном корпусе и предлагает блюда быстрого приготовления для посетителей spa курорта. Супы, горячие блюда, салатики, десерты и коктейли помогут восстановить силы, отдохнуть и расслабиться после купания. Часы работы: ежедневно с 09:00 до 23:00.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
      </div>
   </div>
</section>