<section class="leisure wrapper">
   <div class="container--1432">
      <h2 class="leisure__title">34 способа провести время в Баден-Баден</h2>
      <nav class="tabs">
         <ul class="tabs__list">
            <li class="tabs__item">
               <a class="tabs__link" href="#tab-1">Популярное</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link" href="#tab-2">Оздоровительный и расслабляющий отдых</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link" href="#tab-3">Проживание</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link" href="#tab-4">Семейный отдых</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link" href="#tab-5">Активный отдых</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link" href="#tab-6">Торжественные мероприятия</a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link" href="#tab-7">Детям</a>
            </li>
         </ul>
      </nav>
      <div class="leisure__list" id="tab-1">
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/cafe/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/cafe/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/cafe/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/cafe/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/cafe/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/cafe/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/cafe/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/cafe/8.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/cafe/9.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/cafe/10.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Кафе Thermal
                  </a>
                  <div class="leisure__inner-price">
                     Средний чек от 300 руб.
                  </div>
               </div>
               <p class="leisure__item-text">
                  Кафе располагается в термальном корпусе и предлагает блюда быстрого приготовления для посетителей spa курорта. Супы, горячие блюда, салатики, десерты и коктейли помогут восстановить силы, отдохнуть и расслабиться после купания. Часы работы: ежедневно с 09:00 до 23:00.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/8.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Внутренний бассейн
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Большой бассейн в теплом помещении, под сводом высоких потолков — отличное место для купания всей семьей. Есть детский бассейн с горкой.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/8.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/9.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/10.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/11.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/12.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Бани народов мира
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Самая популярная и любимая услуга наших гостей! Здесь проходят парения Афгусс!
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/barbecue/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/barbecue/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/barbecue/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/barbecue/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/barbecue/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/barbecue/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/barbecue/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/barbecue/8.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Мангальные зоны
                  </a>
                  <div class="leisure__inner-price">
                     от 300 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Мангальные зоны расположены на территории комплекса.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/8.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Бассейны под открытым небом
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Два огромных бассейна под открытым небом! У всех гостей терма курорта «Баден-Баден» есть уникальная возможность купаться на открытом воздухе круглый год, несмотря на зимние морозы и прохладное уральское лето!
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/spa/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/spa/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/spa/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/spa/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/spa/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/spa/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/spa/7.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     SPA
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Профессионально снять усталость, расслабить мышцы и избавить от болезненных ощущений помогут SPA-процедуры.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
      </div>
      <div class="leisure__list" id="tab-2">
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sport/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sport/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sport/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sport/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sport/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sport/6.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Спорт
                  </a>
                  <div class="leisure__inner-price">
                     от 100 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Прокат спортивного инвентаря, тренажерный зал.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/pool/8.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Внутренний бассейн
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Большой бассейн в теплом помещении, под сводом высоких потолков — отличное место для купания всей семьей. Есть детский бассейн с горкой.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/8.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/9.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/10.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/11.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/bath/12.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Бани народов мира
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Самая популярная и любимая услуга наших гостей! Здесь проходят парения Афгусс!
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/salt-room/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/salt-room/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/salt-room/3.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Соляная комната
                  </a>
                  <div class="leisure__inner-price">
                     Входит в стоимость билета
                  </div>
               </div>
               <p class="leisure__item-text">
                  Комната насыщена настоящим морским воздухом, очень полезным для органов дыхания и так необходимым в уральских широтах. Рекомендуемое время посещения: взрослым 50-60 мин., детям 25-30 мин.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sauna/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sauna/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sauna/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sauna/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sauna/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/sauna/6.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Комплекс саун у внутреннего бассейна
                  </a>
                  <div class="leisure__inner-price">
                     Входит в стоимость билета
                  </div>
               </div>
               <p class="leisure__item-text">
                  Возле внутреннего бассейна в здании Thermal расположен комплекс саун. Три финские сауны, прогретые до 80, 90 и 100°С, помогут Вам расслабиться после купания. Возле открытого бассейна для Вас также натоплена баня, приятный жар которой (температура достигает 70°С) подарит наслаждение и поднимет тонус.
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/outdoor-pool/8.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Бассейны под открытым небом
                  </a>
                  <div class="leisure__inner-price">
                     от 350 руб./час
                  </div>
               </div>
               <p class="leisure__item-text">
                  Два огромных бассейна под открытым небом! У всех гостей терма курорта «Баден-Баден» есть уникальная возможность купаться на открытом воздухе круглый год, несмотря на зимние морозы и прохладное уральское лето!
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
      </div>
      <div class="leisure__list" id="tab-3">
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/8.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/9.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/10.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/11.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/12.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/13.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/14.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/15.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/16.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/17.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/thermal/18.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Номера категории "Термаль"
                  </a>
                  <div class="leisure__inner-price">
                     от 11900 руб./сут.
                  </div>
               </div>
               <p class="leisure__item-text">
                  Одно/двухкомнатные номера с двуспальной кроватью и раскладным диваном. На этаже кулер и микроволновка. Подробное описание и бронирование в разделе "НОМЕРА".
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/ten-quests/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/ten-quests/2.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Коттеджи до 10 гостей
                  </a>
                  <div class="leisure__inner-price">
                     от 26000 руб./сут.
                  </div>
               </div>
               <p class="leisure__item-text">
                  Уютные коттеджи, расположенный в живописном уголке комплекса. Коттедж рассчитан на 10 человек, включает все необходимое для комфортного и душевного отдыха. Подробное описание и бронирование в разделе "НОМЕРА".
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/apartments/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/apartments/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/apartments/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/apartments/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/apartments/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/apartments/6.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Номера категории "Апартаменты"
                  </a>
                  <div class="leisure__inner-price">
                     от 14900 руб.
                  </div>
               </div>
               <p class="leisure__item-text">
                  Трехкомнатный номер: кухня-гостиная с раскладным диваном и 2 спальни с двуспальными кроватями. Вместимость до 6 гостей. Подробное описание и бронирование в разделе "НОМЕРА".
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/8.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/9.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/10.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/11.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/12.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/13.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/14.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/15.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/comfort/16.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Номера категории "Комфорт"
                  </a>
                  <div class="leisure__inner-price">
                     от 6900 руб./сут.
                  </div>
               </div>
               <p class="leisure__item-text">
                  Одно/двухкомнатные номера с двуспальной кроватью и раскладным диваном. На 1м этаже кулер и микроволновка. Подробное описание и бронирование в разделе "НОМЕРА".
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart/8.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart/9.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart/10.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Номера категории "Стандарт"
                  </a>
                  <div class="leisure__inner-price">
                     от 3500 руб./сут.
                  </div>
               </div>
               <p class="leisure__item-text">
                  Однокомнатные номера с 1/2/3/4 одно­спальными кроватями. На 1м этаже: кулер и микроволновка. Подробное описание и бронирование в разделе "НОМЕРА".
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
         <div class="leisure__item">
            <div class="leisure__slider swiper">
               <div class="leisure__slide-wrapper swiper-wrapper">
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart-family/1.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart-family/2.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart-family/3.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart-family/4.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart-family/5.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart-family/6.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart-family/7.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart-family/8.jpg)no-repeat 50% / cover;"></div>
                  <div class="leisure__slide-slide swiper-slide" style="background: url(img/leisure-slider/standart-family/9.jpg)no-repeat 50% / cover;"></div>
               </div>
               <div class="leisure-slider-stick"></div>
               <div class="leisure__slider-button-prev swiper-button-prev"></div>
               <div class="leisure__slider-button-next swiper-button-next"></div>         
            </div>
            <div class="leisure__item-content">
               <div class="leisure__inner">
                  <a class="leisure__inner-title" href="/">
                     Номера категории "Стандарт семейный"
                  </a>
                  <div class="leisure__inner-price">
                     от 7900 руб./сут.
                  </div>
               </div>
               <p class="leisure__item-text">
                  Однокомнатные номера с двуспальной кроватью и двухъярусной детской кроватью . На 1м этаже: куллер и микроволновка. Подробное описание и бронирование в разделе "НОМЕРА".
               </p>   
            </div>
            <a class="leisure__item-detail link-btn link-btn-blue link-btn-details" href="/">Подробнее</a>
         </div>
      </div>
   </div>
</section>