<section class="main-slider">
  <div class="main-slider__container swiper">
    <div class="main-slider__wrapper swiper-wrapper">
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img swiper-lazy" data-src="img/main-slider/1.webp" alt="Баден-Баден 1">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"logo-mobile", })
          <h2 class="main-slider__slide-title">
            Горячий источник в 40 минутах от Челябинска
          </h2>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img swiper-lazy" data-src="img/main-slider/2.webp" alt="Комфортабельные номера 2">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"logo-mobile", })
          <h2 class="main-slider__slide-title">
            Комфортабельные номера для проживания
          </h2>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img swiper-lazy" data-src="img/main-slider/3.webp" alt="Рестораны и кафе 3">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"logo-mobile", })
          <h2 class="main-slider__slide-title">
            Рестораны и кафе
          </h2>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img swiper-lazy" data-src="img/main-slider/4.webp" alt="Бани 4">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"logo-mobile", })
          <h2 class="main-slider__slide-title">
            Бани народов мира с арома-парениями!
          </h2>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img swiper-lazy" data-src="img/main-slider/5.webp" alt="Зоопарк 5">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"logo-mobile", })
          <h2 class="main-slider__slide-title">
            Всё для радости детей!
          </h2>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img swiper-lazy" data-src="img/main-slider/6.webp" alt="Мероприятия 6">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"logo-mobile", })
          <h2 class="main-slider__slide-title">
            Организация мероприятий
          </h2>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img swiper-lazy" data-src="img/main-slider/7.webp" alt="СПА 7">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"logo-mobile", })
          <h2 class="main-slider__slide-title">
            SPA-процедуры
          </h2>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="main-slider__pagination swiper-pagination"></div>
    <div class="main-slider__button-prev swiper-button-prev"></div>
    <div class="main-slider__button-next swiper-button-next"></div>
  </div>
  <div class="booking">
    <div class="booking__spoiler">
      <div class="booking__item">
        <div class="booking__icons">
          @@include('../../bem-blocks/_sprite.html',{ "class":"bed",
          "width":"width: 36px;", "height":"height: 25px;", "fill":"fill:none;",
          "id":"bed", })
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"arrow", })
        </div>
        <div class="booking__content">
          <h4 class="booking__title">
            Найти номер
          </h4>
          <p class="booking__text">
            Стоимость проживания от 4900 руб./сут. на 2-их
          </p>
          <div class="booking__detail">
            Подробнее
            @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
            "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
            "id":"arrow", })
          </div>
        </div>
        <div class="booking__detail-arrow">
          <div class="booking__detail">
            Подробнее
          </div>
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"arrow", })
        </div>
      </div>
      <div class="booking__item-hidden">
        <form action="" class="booking__form">
          <h3 class="booking__title">
            Найти номер
          </h3>
          <p class="booking__form-description">
            Челябинская область с. Еткуль термальный курорт Баден-Баден
          </p>
          <fieldset class="booking__form-fiels">
            <label class="booking__label">
              Дата заезда <span style="color: #e21d2c;">*</span>
              <input class="booking__input" type="date" name="date-in" required>
            </label>
            <label class="booking__label">
              Дата выезда <span style="color: #e21d2c;">*</span>
              <input class="booking__input" type="date" name="date-out" required>
            </label>
            <label class="booking__label">
              Количество гостей
              <input class="booking__input" type="number" name="guests" value="1">
            </label>
          </fieldset>
          <button class="booking__form-btn link-btn" type="submit">Перейти</button>
        </form>
      </div>
    </div>
    <div class="booking__spoiler">
      <div class="booking__item">
        <div class="booking__icons">
          @@include('../../bem-blocks/_sprite.html',{ "class":"card",
          "width":"width: 36px;", "height":"height: 25px;", "fill":"fill:none;",
          "id":"card", })
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"arrow", })
        </div>
        <div class="booking__content">
          <h4 class="booking__title">
            Оплатить бронь
          </h4>
          <p class="booking__text">
            Оплатите онлайн забронированный номер
          </p>
          <div class="booking__detail">
            Подробнее
            @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
            "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
            "id":"arrow", })
          </div>
        </div>
        <div class="booking__detail-arrow">
          <div class="booking__detail">
            Подробнее
          </div>
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"arrow", })
        </div>
      </div>
      <div class="booking__item-hidden">
        <form action="" class="booking__form">
          <h3 class="booking__title">
            Поиск брони
          </h3>
          <p class="booking__form-description">
            Челябинская область с. Еткуль термальный курорт Баден-Баден
          </p>
          <p class="booking__form-description booking__form-description--gray">
            Для оплаты забронированного номера введите номер брони и дату бронирования из СМС.
          </p>
          <fieldset class="booking__form-fiels">
            <label class="booking__label">
              Введите дату указанную в СМС сообщении <span style="color: #e21d2c;">*</span>
              <input class="booking__input" name="date-sms" type="date" required>
            </label>
            <label class="booking__label">
              Введите номер брони <span style="color: #e21d2c;">*</span>
              <input class="booking__input" name="number-reservation" type="text" placeholder="Номер брони" required>
            </label>
            <label class="booking__label">
              Телефон плательщика <span style="color: #e21d2c;">*</span>
              <input class="booking__input" name="tel" type="tel" placeholder="+7 (999) 999-99-99" required>
            </label>
            <label class="booking__label">
              Почта плательщика <span style="color: #e21d2c;">*</span>
              <input class="booking__input" name="email" type="email" placeholder="mail@email.ru" required>
            </label>
          </fieldset>
          <button class="booking__form-btn link-btn" type="submit">Найти бронь</button>
        </form>
      </div>
    </div>
    <div class="booking__spoiler">
      <div class="booking__item">
        <div class="booking__icons">
          @@include('../../bem-blocks/_sprite.html',{ "class":"bed",
          "width":"width: 36px;", "height":"height: 25px;", "fill":"fill:none;",
          "id":"bed", })
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"arrow", })
        </div>
        <div class="booking__content">
          <h4 class="booking__title">
            Купить подарочную карту
          </h4>
          <div class="booking__detail">
            Подробнее
            @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
            "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
            "id":"arrow", })
          </div>
        </div>
        <div class="booking__detail-arrow">
          <div class="booking__detail">
            Подробнее
          </div>
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"arrow", })
        </div>
      </div>
      <div class="booking__item-hidden">
        <form action="" class="booking__form">
          <h3 class="booking__title">
            Купить карту
          </h3>
          <p class="booking__form-description">
            Заполните данные.
          </p>
          <fieldset class="booking__form-fiels">
            <label class="booking__label">
              Фамилия <span style="color: #e21d2c;">*</span>
              <input class="booking__input" name="last-name" type="text" placeholder="Фамилия" required>
            </label>
            <label class="booking__label">
              Имя <span style="color: #e21d2c;">*</span>
              <input class="booking__input" name="first-name" type="text" placeholder="Имя" required>
            </label>
            <label class="booking__label">
              Отчество <span style="color: #e21d2c;">*</span>
              <input class="booking__input" name="middle-name" type="text" placeholder="Отчество" required>
            </label>
            <label class="booking__label">
              Телефон плательщика <span style="color: #e21d2c;">*</span>
              <input class="booking__input" name="tel" type="tel" placeholder="+7 (999) 999-99-99" required>
            </label>
            <label class="booking__label">
              Ваша почта <span style="color: #e21d2c;">*</span>
              <input class="booking__input" name="email" type="email" placeholder="mail@email.ru" required>
            </label>
            <label class="booking__label flex">
              Карта в подарок
              <input class="booking__input" name="check" type="checkbox">
            </label>
          </fieldset>
          <button class="booking__form-btn link-btn" type="submit">Продолжить</button>
        </form>
      </div>
    </div>
  </div>
</section>