<section class="main-slider">
  <div class="main-slider__container swiper">
    <div class="main-slider__wrapper swiper-wrapper">
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img" data-src="img/main-slider/1.webp" src="img/1x1.png">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432 container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"css--logo-mobile", })
          <h1 class="main-slider__slide-title">
            Горячий источник в 40 минутах от Челябинска
          </h1>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img" data-src="img/main-slider/2.webp" src="img/1x1.png">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"css--logo-mobile", })
          <h1 class="main-slider__slide-title">
            Комфортабельные номера для проживания
          </h1>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img" data-src="img/main-slider/3.webp" src="img/1x1.png">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"css--logo-mobile", })
          <h1 class="main-slider__slide-title">
            Рестораны и кафе
          </h1>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img" data-src="img/main-slider/4.webp" src="img/1x1.png">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"css--logo-mobile", })
          <h1 class="main-slider__slide-title">
            Бани народов мира с арома-парениями!
          </h1>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img" data-src="img/main-slider/5.webp" src="img/1x1.png">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"css--logo-mobile", })
          <h1 class="main-slider__slide-title">
            Всё для радости детей!
          </h1>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img" data-src="img/main-slider/6.webp" src="img/1x1.png">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"css--logo-mobile", })
          <h1 class="main-slider__slide-title">
            Организация мероприятий
          </h1>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
      <div class="main-slider__slide swiper-slide">
        <img class="main-slider__slide-img" data-src="img/main-slider/7.webp" src="img/1x1.png">
        <div class="main-slider__slide-gradient"></div>
        <div class="main-slider__slide-wrapper container--1432">
          @@include('../../bem-blocks/_sprite.html',{ "class":"logo-mobile",
          "width":"width: 186px;", "height":"height: 186px;",
          "id":"css--logo-mobile", })
          <h1 class="main-slider__slide-title">
            SPA-процедуры
          </h1>
          <a class="link-btn-white link-btn" href="/">Подробнее</a>
        </div>
      </div>
    </div>
    <div class="main-slider__pagination swiper-pagination"></div>
    <div class="main-slider__button-prev swiper-button-prev"></div>
    <div class="main-slider__button-next swiper-button-next"></div>
  </div>
  <div class="booking">
    <div class="booking__spoiler">
      <div class="booking__item">
        <div class="booking__icons">
          @@include('../../bem-blocks/_sprite.html',{ "class":"bed",
          "width":"width: 36px;", "height":"height: 25px;", "fill":"fill:none;",
          "id":"css--bed", })
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"css--arrow", })
        </div>
        <div class="booking__content">
          <h4 class="booking__title">
            Найти номер
          </h4>
          <p class="booking__text">
            Стоимость проживания от 4900 руб./сут. на 2-их
          </p>
          <div class="booking__detail">
            Подробнее
          </div>
        </div>
        <div class="booking__detail-arrow">
          <div class="booking__detail">
            Подробнее
          </div>
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"css--arrow", })
        </div>
      </div>
      <div class="booking__item-hidden">
        <form action="" class="booking__form">
          <h3 class="booking__title">
            Найти номер
          </h3>
          <p class="booking__form-description">
            Челябинская область с. Еткуль термальный курорт Баден-Баден
          </p>
          <div class="booking__form-fiels">
            <label class="booking__label" for="date-in">Дата заезда</label>
            <input class="booking__input" name="date-in" type="text" value="30.10.2021">
            <label class="booking__label" for="date-out">Дата выезда</label>
            <input class="booking__input" name="date-out" type="text" value="31.10.2021">
            <label class="booking__label" for="guests">Количество гостей</label>
            <input class="booking__input" name="guests" type="number" value="1">
          </div>
          <button class="booking__form-btn link-btn" type="submit">Перейти</button>
        </form>
      </div>
    </div>
    <div class="booking__spoiler">
      <div class="booking__item">
        <div class="booking__icons">
          @@include('../../bem-blocks/_sprite.html',{ "class":"card",
          "width":"width: 36px;", "height":"height: 25px;", "fill":"fill:none;",
          "id":"css--card", })
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"css--arrow", })
        </div>
        <div class="booking__content">
          <h4 class="booking__title">
            Оплатить бронь
          </h4>
          <p class="booking__text">
            Оплатите онлайн забронированный номер
          </p>
          <div class="booking__detail">
            Подробнее
          </div>
        </div>
        <div class="booking__detail-arrow">
          <div class="booking__detail">
            Подробнее
          </div>
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"css--arrow", })
        </div>
      </div>
      <div class="booking__item-hidden">
        <form action="" class="booking__form">
          <h3 class="booking__title">
            Поиск брони
          </h3>
          <p class="booking__form-description">
            Челябинская область с. Еткуль термальный курорт Баден-Баден
          </p>
          <p class="booking__form-description">
            Для оплаты забронированного номера введите номер брони и дату бронирования из СМС.
          </p>
          <div class="booking__form-fiels">
            <label class="booking__label" for="date-in">Введите дату указанную в СМС сообщении </label>
            <input class="booking__input" name="date-in" type="text" value="30.10.2021">
            <label class="booking__label" for="date-out">Введите номер брони </label>
            <input class="booking__input" name="date-out" type="text" value="31.10.2021">
            <label class="booking__label" for="guests">Количество гостей</label>
            <input class="booking__input" name="guests" type="number" value="1">
          </div>
          <button class="booking__form-btn link-btn" type="submit">Перейти</button>
        </form>
      </div>
    </div>
    <div class="booking__spoiler">
      <div class="booking__item">
        <div class="booking__icons">
          @@include('../../bem-blocks/_sprite.html',{ "class":"gift",
          "width":"width: 36px;", "height":"height: 25px;",
          "id":"css--gift", })
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"css--arrow", })
        </div>
        <div class="booking__content">
          <h4 class="booking__title">
            Купить подарочную карту
          </h4>
          <div class="booking__detail">
            Подробнее
          </div>
        </div>
        <div class="booking__detail-arrow">
          <div class="booking__detail">
            Подробнее
          </div>
          @@include('../../bem-blocks/_sprite.html',{ "class":"arrow",
          "width":"width: 16px;", "height":"height: 18px;", "fill":"fill:none;",
          "id":"css--arrow", })
        </div>
      </div>
      <div class="booking__item-hidden">
        <form action="" class="booking__form">
          <h3 class="booking__title">
            Найти номер
          </h3>
          <p class="booking__form-description">
            Челябинская область с. Еткуль термальный курорт Баден-Баден
          </p>
          <div class="booking__form-fiels">
            <label class="booking__label" for="date-in">Дата заезда</label>
            <input class="booking__input" name="date-in" type="text" value="30.10.2021">
            <label class="booking__label" for="date-out">Дата выезда</label>
            <input class="booking__input" name="date-out" type="text" value="31.10.2021">
            <label class="booking__label" for="guests">Количество гостей</label>
            <input class="booking__input" name="guests" type="number" value="1">
          </div>
          <button class="booking__form-btn link-btn" type="submit">Перейти</button>
        </form>
      </div>
    </div>
  </div>
</section>